.sh-hero {
  position: relative;

  .page-nav-btn {
    position: absolute;
    z-index: 2;
    top: var(--offset);
    left: var(--offset);
  }

  .swiper-gallery {
    .swiper-pagination {
      top: auto;
      bottom: 24px;

      @include laptop {
        display: none;
      }
    }

    .swiper-slide {
      padding-bottom: 107%;
      height: auto;

      @include tablet {
        padding-bottom: calc(100vh - $header-h - var(--offset)*2);
      }

      @include laptop {
        padding-bottom: calc(100vh - var(--offset)*2);
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }

    .sp-hero__info-wrap {

      @include laptop {
        .sp-parameters__gen-block svg path {
          fill: none;
        }

        z-index: 3;
      }
    }
  }

  .sh-hero__title-block {
    border-radius: $border-radius-block;
    background-color: $wc;
    padding: 24px 16px;
    margin: var(--offset) 0;

    h1 {
      @include subtitle-text;
      color: $accent-color;
      margin-bottom: 16px;
    }

    p {
      @include general-text;
      color: $text-color;
    }

    @include laptop {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;


      h1,
      p {
        text-align: center;
        color: $wc;
      }

      h1 {
        font-size: 4.68vw;
      }

      p {
        font-size: 1.25vw;
      }
    }
  }
}

.sh-plannings {
  padding: 0 4px var(--offset);

  @include laptop {
    padding: 0 var(--offset) var(--offset);

    .swiper-materials-btns {
      position: static;
      margin-bottom: 0;

      .swiper-slide {
        flex-direction: column;
      }
    }

    .sh-plannings-content {
      margin: 0;

      .sh-plannings__img-wrap {
        border: 1px solid var(--backgroung, #EFEBEB);
        background-color: transparent;
      }
    }
  }


  &__container {
    padding: 24px var(--offset) var(--offset);
    background-color: $wc;
    border-radius: $border-radius-block;
    overflow: hidden;
    width: 100%;
    // height: calc(100vh - var(--offset) - $header-h );
    position: relative;
    display: flex;
    flex-direction: column;

    @include laptop {
      padding: var(--offset);
      height: calc(100vh - var(--offset));
    }

    &>h2 {
      @include subtitle-text;
      color: $accent-color;
      margin-bottom: 16px;
      padding-left: var(--offset);

      @include laptop {
        display: none
      }
    }

    &>p {
      @include general-text;
      color: $text-color;
      margin-bottom: 24px;
      padding-left: var(--offset);

      @include laptop {
        display: none
      }
    }

  }

  .swiper-materials-btns .swiper-slide {
    &>p {
      @include tiny-text;
      color: $light-gray-color;
      transition: color 0.35s ease-in-out;
      margin-top: 4px;
      text-align: center;
    }

    &.active {
      &>p {

        color: rgba(255, 255, 255, 0.5)
      }
    }
  }

  &-content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    /* Для вертикального розташування дітей */
    flex: 1 1 auto;

  }

  &__img-wrap {
    background-color: $soft-accent;
    padding: 16px 8px;
    border-radius: $border-radius-md;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;

    img {
      width: auto;
      height: auto;
      border-radius: $border-radius-md;
      object-fit: contain;
      height: 50vh;

      @include laptop {
        height: 70vh;
      }
    }
  }

  &__floors {
    background-color: $second-accent-color;
    padding: var(--offset);
    border-radius: $border-radius-md;
    display: flex;
    align-items: center;
    gap: var(--offset);

    &-btn {
      flex: 1;
      padding: 24px 0;
      border-radius: $border-radius-btn;
      transition: background-color 0.35s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      span {
        @include general-text;
        color: $wc;

      }

      &.active {
        background-color: rgb(246, 146, 43);
      }
    }
  }
}

.sp-gallery.sh-gallery-pc {
  @extend .swiper-gallery;
  display: none;

  @include laptop {
    display: block;
    padding-bottom: 0;

  }
}