.terms-hero {
  .sp-hero-mask {

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.21) 30%, rgba(0, 0, 0, 0.70) 100%);
  }

  @include tablet {
    .sp-hero__content {
      h1 {
        text-align: center;
      }
    }
  }
}

.terms {

  padding: 0 4px var(--offset);

  @include laptop {
    padding: 0 var(--offset) var(--offset);
  }

  .terms-container {
    @include laptop {
      padding: 0 20px;
    }
  }

  .sp-infra__container {
    padding: 24px 16px 16px;

    @include laptop {
      padding: var(--offset) var(--offset) 30px;
    }
  }

  .swiper-slide {
    white-space: nowrap;
  }

  @include tablet {
    .terms-content__item {
      aspect-ratio: 1/0.4;
    }

    @include laptop {
      .terms-content__item {
        aspect-ratio: 1/0.5;
      }
    }
  }

  @include laptop {
    .swiper-slide {
      text-align: center;
      flex: 1;

      &:last-child {
        margin-right: 0 !important;
      }
    }

    .swiper-infra-btns {
      position: static;
      width: 100%;
      padding: 0;
    }
  }

}

.terms-content {
  transition: height 0.35s linear, opacity 0.35s ease-in-out;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  z-index: -1;

  @include laptop {
    display: flex;
    align-items: center;


  }


  &.is-visible {
    opacity: 1;
    position: static;
    pointer-events: all;
    z-index: 1;
  }

  .terms-content__text {
    @include laptop {
      flex: 1;

      &>h3,
      &>p {
        max-width: 80%
      }
    }

    &>h3 {
      @include menu-text;
      color: $accent-color;
      margin-bottom: 16px;

      @include tablet {
        font-size: 42px;
      }

      @include laptop {
        font-size: 2.91vw;
      }

    }

    &>p {
      @include general-text;
      color: $text-color;
      margin-bottom: 16px;

    }

    &>.accent-btn {
      display: none;

      @include laptop {
        margin-top: 40px;
        display: flex;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: var(--offset);

    @include laptop {
      flex: 1;
      max-width: 50%;
    }
  }

  &__item {
    border-radius: $border-radius-block;
    border: 1px solid #EFEBEB;
    padding: 24px 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    aspect-ratio: 1 / 0.9;



    h4 {
      @include general-text;
      color: $text-color;
      font-weight: 400;
    }

    p {
      @include subtitle-text;
      color: $second-accent-color;

      @include tablet {
        font-size: 54px;
      }

      @include laptop {
        font-size: 2.91vw
      }
    }



  }
}

.terms-faq {
  padding: var(--offset);

  margin: 0 4px;
  background-color: $wc ;
  border-radius: $border-radius-block;



  &__img-pc {
    display: none;
  }

  @include tablet {
    padding-top: 24px;
  }

  @include laptop {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    position: relative;
    padding: var(--offset);
    height: 650px;
    max-height: 100vh;
    overflow: hidden;
    margin: 0 var(--offset);
    margin-bottom: var(--offset);

    &__img-pc {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}

.terms-wrapper {
  h2 {
    display: none;
  }

  @include tablet {
    h2 {
      display: block;
      @include subtitle-text;
      color: $accent-color;
      margin-bottom: 24px;
    }
  }

  @include laptop {
    background-color: $wc ;
    border-radius: $border-radius-block;
    width: 30%;
    padding: 30px;
    overflow: hidden;

    h2 {
      font-size: 2.916vw;
      margin-bottom: 30px;
    }
  }
}

.terms-faq__list {
  display: flex;
  flex-direction: column;
  gap: var(--offset);

  @include laptop {
    overflow-y: auto;
    height: calc(100% - 2.916vw - 30px);

    padding-right: var(--offset)
  }
}

.terms-faq__item {
  padding: 24px 16px;
  border-radius: $border-radius-md;
  background-color: $soft-accent;
  display: block;
  position: relative;
  cursor: pointer;

  &>svg {
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
    transition: transform 0.35s linear;

  }

  h3 {
    @include subgeneral-text;
    color: $accent-color;

    max-width: 86%;

  }

  p {
    @include general-text;
    color: $text-color;
    height: 0;
    transition: margin-top 0.35s ease-in-out;
    overflow: hidden;
  }

  &.is-open {
    p {
      margin-top: 16px;

    }

    svg {
      transform: rotate(180deg);
    }
  }
}

[data-terms-content="full"] {
  .terms-content__item:last-child {
    grid-area: 2 / 1 / 3 / 3;
    aspect-ratio: auto;
  }
}

[data-terms-content="trade-in"] {
  .terms-content__list {
    display: flex;
    flex-direction: column;

    @include tablet {
      display: grid;
    }
  }

  .terms-content__item {
    aspect-ratio: auto;

    p {
      margin-bottom: 16px;

      @include tablet {
        font-size: 42px;
      }

      @include laptop {
        font-size: 2.91vw
      }
    }
  }
}

[data-terms-content="loyal"] {
  .terms-content__list {
    display: flex;
    flex-direction: column;

    @include tablet {
      display: grid;
    }
  }

  .terms-content__item {
    aspect-ratio: auto;

    svg {
      width: 48px;
      height: 48px;
      margin-bottom: 24px;
    }

    p {
      margin-bottom: 8px;
      color: $accent-color;
      font-size: 24px;
    }
  }
}

// [data-terms-content] {
//   .terms-content__list {
//     @include laptop {
//       aspect-ratio: auto;
//     }
//   }
// }