.terms-hero {
  .sp-hero-mask {

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.21) 30%, rgba(0, 0, 0, 0.70) 100%);
  }

  @include tablet {
    .sp-hero__content {
      h1 {
        text-align: center;
      }
    }
  }
}

.terms {

  padding: 0 4px var(--offset);

  .sp-infra__container {
    padding-bottom: 16px;
  }

  @include tablet {
    .swiper-slide {
      text-align: center;
      flex: 1;
    }

    .terms-content__item {
      aspect-ratio: 1/0.4;
    }
  }

}

.terms-content {
  transition: height 0.35s linear, opacity 0.35s ease-in-out;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  z-index: -1;

  &.is-visible {
    opacity: 1;
    position: static;
    pointer-events: all;
    z-index: 1
  }

  &>h3 {
    @include menu-text;
    color: $accent-color;
    margin-bottom: 16px;
  }

  &>p {
    @include general-text;
    color: $text-color;
    margin-bottom: 16px;

  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: var(--offset);

  }

  &__item {
    border-radius: $border-radius-block;
    border: 1px solid #EFEBEB;
    padding: 24px 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    aspect-ratio: 1 / 0.9;

    h4 {
      @include subgeneral-text;
      color: $accent-color;
    }

    p {
      @include subtitle-text;
      color: $accent-color;
    }



  }
}

.terms-faq {
  padding: var(--offset);

  margin: 0 4px;
  background-color: $wc ;
  border-radius: $border-radius-block;

  &__img-pc {
    display: none;
  }

  @include laptop {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    position: relative;
    padding: var(--offset);
    height: 650px;
    max-height: 100vh;
    overflow: hidden;
    margin: 0 var(--offset);

    &__img-pc {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}

.terms-wrapper {
  h2 {
    display: none;
  }

  @include tablet {
    h2 {
      display: block;
      @include subtitle-text;
      color: $accent-color;
      margin-bottom: 24px;
    }
  }

  @include laptop {
    background-color: $wc ;
    border-radius: $border-radius-block;
    width: 30%;
    padding: 30px;
    overflow: hidden;

    h2 {
      font-size: 2.916vw;
      margin-bottom: 30px;
    }
  }
}

.terms-faq__list {
  display: flex;
  flex-direction: column;
  gap: var(--offset);

  @include laptop {
    overflow-y: auto;
    height: calc(100% - 2.916vw - 30px);

    padding-right: var(--offset)
  }
}

.terms-faq__item {
  padding: 24px 16px;
  border-radius: $border-radius-md;
  background-color: $soft-accent;
  display: block;
  position: relative;
  cursor: pointer;

  &>svg {
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
    transition: transform 0.35s linear;

  }

  h3 {
    @include subgeneral-text;
    color: $accent-color;

    max-width: 86%;

  }

  p {
    @include general-text;
    color: $text-color;
    height: 0;
    transition: margin-top 0.35s ease-in-out;
    overflow: hidden;
  }

  &.is-open {
    p {
      margin-top: 16px;

    }

    svg {
      transform: rotate(180deg);
    }
  }
}