header(class="header")
  .container.header-bg.header-pc
    .header__logo-wrap.header-block
      a(href="/").header__logo
        <svg xmlns="http://www.w3.org/2000/svg" width="146" height="63" viewBox="0 0 146 63" fill="none">
          <path d="M143.843 4.86494C143.843 6.36991 142.607 7.5946 141.088 7.5946C139.569 7.5946 138.333 6.36991 138.333 4.86494C138.333 3.36017 139.569 2.13547 141.088 2.13547C142.607 2.13547 143.843 3.36017 143.843 4.86494ZM141.088 -0.00102711C138.379 -0.00102711 136.176 2.182 136.176 4.86494C136.176 7.54826 138.379 9.7311 141.088 9.7311C143.796 9.7311 145.999 7.54826 145.999 4.86494C145.999 2.182 143.796 -0.00102711 141.088 -0.00102711Z" fill="#F58614"/>
          <path d="M12.5293 28.3492L7.78306 26.9047C4.21093 25.804 2.96514 24.5135 3.02208 21.9733C3.05972 20.2943 3.74185 18.9465 5.04938 17.9672C6.24727 17.0702 7.62681 16.6524 9.39076 16.6524C9.50026 16.6524 9.61126 16.6539 9.72405 16.6572C12.017 16.7221 13.4061 17.1974 14.5178 18.2979C15.421 19.1913 15.9462 20.4466 16.0364 21.9282L16.1007 22.9831H18.4869L18.4139 21.7924L18.413 21.7812C18.2231 19.6627 17.4625 17.9307 16.1524 16.6328C14.66 15.1541 12.5462 14.4043 9.6902 14.3406C9.59615 14.3384 9.50207 14.3372 9.40882 14.3372C6.94358 14.3372 4.78005 15.0583 3.15204 16.4224C1.47103 17.8308 0.582509 19.8068 0.582509 22.1368C0.582509 24.0549 1.16749 25.5593 2.37109 26.7356C3.46813 27.8081 5.11977 28.6458 7.56688 29.3717L11.1954 30.4644C12.7806 30.9478 14.5596 31.5377 15.6055 32.4218C16.613 33.2732 17.0241 34.2866 17.0241 35.9198C17.0241 39.4534 14.0731 41.8275 9.68115 41.8275C7.17462 41.8275 5.04354 41.1895 3.98025 40.1207C2.88929 39.0239 2.44419 37.8521 2.44419 36.0755V34.998H0V35.7469C0 36.6978 -0.000224258 39.5917 1.92906 41.5208C3.70787 43.2999 6.28623 44.2019 9.5919 44.2019C12.1652 44.2019 14.6136 43.5006 16.3097 42.278C18.3948 40.7752 19.4969 38.5765 19.4969 35.9195C19.4969 33.912 18.9739 32.4146 17.8517 31.2077C16.7519 30.0247 15.0603 29.1163 12.5293 28.3492Z" fill="#505256"/>
          <path d="M58.1299 16.8629H67.852V44.0012H70.5753V16.8629H80.2652V14.5307H58.1299V16.8629Z" fill="#505256"/>
          <path d="M90.7561 41.6691C89.7699 41.6691 88.9676 40.8743 88.9676 39.8972V14.5308H86.2441V39.9566C86.2441 42.1868 88.0757 44.0014 90.3269 44.0014H101.41V41.6691H90.7561Z" fill="#505256"/>
          <path d="M33.5277 38.6605L33.0347 40.1745L32.5415 38.6008L24.915 14.812L24.8248 14.5308H22.0596L31.6009 44.0014H34.4662L44.221 14.5308H41.4542L33.5277 38.6605Z" fill="#505256"/>
          <path d="M49.4834 44.0014H52.2073V14.5447H49.4834V44.0014Z" fill="#505256"/>
          <path d="M0.612144 62.5233C0.90874 62.5606 1.33695 62.5699 1.80918 62.5699C4.18114 62.5699 5.35602 61.4422 5.35602 59.6244C5.37803 58.0305 4.33485 56.9398 1.95184 56.9398C1.3808 56.9398 0.930669 56.9866 0.612144 57.0424V62.5233ZM0.0849609 56.707C0.656225 56.6231 1.28199 56.5671 1.98487 56.5671C3.3356 56.5671 4.35678 56.8747 4.97181 57.4248C5.56468 57.9467 5.89417 58.655 5.89417 59.6057C5.89417 60.5286 5.5978 61.3581 4.92774 61.9827C4.28003 62.5886 3.15975 62.9429 1.7322 62.9429C1.16126 62.9429 0.623108 62.9336 0.0849609 62.8961V56.707Z" fill="#505256"/>
          <path d="M18.359 59.7738H15.4048V62.5236H18.7102V62.8964H14.8779V56.6141H18.5347V56.9869H15.4048V59.4011H18.359V59.7738Z" fill="#505256"/>
          <path d="M29.371 62.8964L26.9111 56.6141H27.4603L28.767 59.979C29.1184 60.8924 29.426 61.6847 29.6346 62.3839H29.6675C29.887 61.6755 30.2275 60.8645 30.6119 59.979L32.0505 56.6141H32.6105L29.8651 62.8964H29.371Z" fill="#505256"/>
          <path d="M44.5574 59.7737H41.6034V62.5236H44.9088V62.8963H41.0762V56.614H44.7331V56.9868H41.6034V59.401H44.5574V59.7737Z" fill="#505256"/>
          <path d="M53.8809 56.614H54.4077V62.5236H57.7023V62.8963H53.8809V56.614Z" fill="#505256"/>
          <path d="M68.8476 62.6265C70.6047 62.6265 71.582 61.2751 71.582 59.7184C71.582 58.3947 70.7254 56.8847 68.8695 56.8847C66.9918 56.8847 66.1242 58.3387 66.1242 59.8024C66.1242 61.2189 67.0905 62.6265 68.8366 62.6265H68.8476ZM68.8147 62.9995C66.9918 62.9995 65.5752 61.7783 65.5752 59.8209C65.5752 57.7608 67.0466 56.5118 68.9026 56.5118C70.7694 56.5118 72.1311 57.7515 72.1311 59.6904C72.1311 61.9088 70.5278 62.9995 68.8257 62.9995H68.8147Z" fill="#505256"/>
          <path d="M81.6402 59.8206C81.8929 59.8951 82.2222 59.9136 82.5847 59.9136C83.9135 59.9136 84.704 59.3731 84.704 58.3758C84.704 57.3877 83.8585 56.9402 82.6835 56.9402C82.2002 56.9402 81.8379 56.9776 81.6402 57.0149V59.8206ZM81.1133 56.6886C81.5414 56.6234 82.0795 56.5674 82.7055 56.5674C83.584 56.5674 84.2538 56.7631 84.6602 57.0988C85.0224 57.3877 85.2312 57.8071 85.2312 58.3293C85.2312 58.8698 85.0554 59.2708 84.715 59.5875C84.2428 60.0441 83.4523 60.2866 82.5409 60.2866C82.2002 60.2866 81.9038 60.2773 81.6402 60.2121V62.8964H81.1133V56.6886Z" fill="#505256"/>
          <path d="M100.438 59.923C100.372 58.9815 100.284 57.8258 100.284 57.1359H100.262C99.9877 57.8166 99.6914 58.5435 99.2631 59.485L97.7038 62.8964H97.3413L95.8808 59.5595C95.4636 58.5808 95.1451 57.8258 94.9255 57.1359H94.9036C94.8815 57.8725 94.8267 58.9628 94.7389 60.007L94.508 62.8964H93.9922L94.5303 56.6141H95.1341L96.7265 60.24C97.0779 61.0324 97.3303 61.666 97.5391 62.272H97.5719C97.7586 61.6941 98.0222 61.0882 98.3957 60.24L100.054 56.6141H100.68L101.174 62.8964H100.658L100.438 59.923Z" fill="#505256"/>
          <path d="M113.901 59.7738H110.947V62.5237H114.252V62.8964H110.42V56.6141H114.077V56.9869H110.947V59.4011H113.901V59.7738Z" fill="#505256"/>
          <path d="M123.235 62.8964V56.6141H123.729L126.607 60.3237C127.211 61.1069 127.639 61.6941 128.001 62.2999L128.023 62.2908C127.946 61.4425 127.935 60.7247 127.935 59.746V56.6141H128.44V62.8964H127.957L125.135 59.2426C124.586 58.5248 124.081 57.863 123.697 57.2104L123.674 57.2199C123.729 57.9935 123.741 58.674 123.741 59.718V62.8964H123.235Z" fill="#505256"/>
          <path d="M139.321 56.9869H136.905V56.6141H142.264V56.9869H139.848V62.8964H139.321V56.9869Z" fill="#505256"/>
          <path d="M124.269 8.51282C124.026 8.51282 123.787 8.57677 123.577 8.69781L111.121 15.8918C110.199 16.4247 109.626 17.4132 109.626 18.4715V39.816C109.626 40.8326 110.46 41.6595 111.486 41.6595H138.098C139.124 41.6595 139.958 40.8326 139.958 39.816V18.601C139.958 17.5096 139.358 16.5061 138.391 15.9818L124.929 8.67984C124.727 8.57047 124.499 8.51282 124.269 8.51282ZM138.098 43.9982H111.486C109.158 43.9982 107.265 42.1222 107.265 39.816V18.4715C107.265 16.5843 108.287 14.8217 109.933 13.8713L122.388 6.67735C122.958 6.34797 123.609 6.17373 124.269 6.17373C124.894 6.17373 125.514 6.3311 126.062 6.62842L139.525 13.9303C141.248 14.8649 142.319 16.6545 142.319 18.601V39.816C142.319 42.1222 140.425 43.9982 138.098 43.9982Z" fill="#F58614"/>
        </svg>

    nav.header__nav.laptop-mode.header-block
      ul.nav__list 

        li.nav__item 
          a(href="/projects" data-text="Головна").nav__link 
            span Головна
        li.nav__item
          a(href="/projects" data-text="Про нас").nav__link.active 
            span Про нас
        li.nav__item 
          a(href="#about" data-text="Умови придбання").nav__link.anchor__smooth
            span Умови придбання
        li.nav__item 
          a(href="/contacts" data-text="Контакти").nav__link 
            span Контакти

    .contact-phone.header-block
      a(href="tel:+380442354492") 
        span.desktop-mode (044) 235 44 92
        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="42" viewBox="0 0 43 42" fill="none">
          <path d="M8.375 5.25C8.375 3.85761 8.92812 2.52226 9.91269 1.53769C10.8973 0.553123 12.2326 0 13.625 0L29.375 0C30.7674 0 32.1027 0.553123 33.0873 1.53769C34.0719 2.52226 34.625 3.85761 34.625 5.25V36.75C34.625 38.1424 34.0719 39.4777 33.0873 40.4623C32.1027 41.4469 30.7674 42 29.375 42H13.625C12.2326 42 10.8973 41.4469 9.91269 40.4623C8.92812 39.4777 8.375 38.1424 8.375 36.75V5.25ZM24.125 34.125C24.125 33.4288 23.8484 32.7611 23.3562 32.2688C22.8639 31.7766 22.1962 31.5 21.5 31.5C20.8038 31.5 20.1361 31.7766 19.6438 32.2688C19.1516 32.7611 18.875 33.4288 18.875 34.125C18.875 34.8212 19.1516 35.4889 19.6438 35.9812C20.1361 36.4734 20.8038 36.75 21.5 36.75C22.1962 36.75 22.8639 36.4734 23.3562 35.9812C23.8484 35.4889 24.125 34.8212 24.125 34.125Z" fill="#8D9BA4"/>
        </svg>
      //- button.contact-phone--laptop
      //-   <svg xmlns="http://www.w3.org/2000/svg" width="43" height="42" viewBox="0 0 43 42" fill="none">
      //-     <path d="M8.375 5.25C8.375 3.85761 8.92812 2.52226 9.91269 1.53769C10.8973 0.553123 12.2326 0 13.625 0L29.375 0C30.7674 0 32.1027 0.553123 33.0873 1.53769C34.0719 2.52226 34.625 3.85761 34.625 5.25V36.75C34.625 38.1424 34.0719 39.4777 33.0873 40.4623C32.1027 41.4469 30.7674 42 29.375 42H13.625C12.2326 42 10.8973 41.4469 9.91269 40.4623C8.92812 39.4777 8.375 38.1424 8.375 36.75V5.25ZM24.125 34.125C24.125 33.4288 23.8484 32.7611 23.3562 32.2688C22.8639 31.7766 22.1962 31.5 21.5 31.5C20.8038 31.5 20.1361 31.7766 19.6438 32.2688C19.1516 32.7611 18.875 33.4288 18.875 34.125C18.875 34.8212 19.1516 35.4889 19.6438 35.9812C20.1361 36.4734 20.8038 36.75 21.5 36.75C22.1962 36.75 22.8639 36.4734 23.3562 35.9812C23.8484 35.4889 24.125 34.8212 24.125 34.125Z" fill="#8D9BA4"/>
      //-   </svg>
      //- .language__wrap.header-block.tablet-mode     
      //-   ul.language__list 
      //-     li.language__item.active
      //-       a(href="/en")
      //-         <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
      //-           <g clip-path="url(#clip0_802_261)">
      //-             <path d="M21 41.5078C32.3477 41.5078 41.5078 32.3477 41.5078 21H0.492188C0.492188 32.3477 9.65234 41.5078 21 41.5078Z" fill="#FFE62E"/>
      //-             <path d="M21 0.492188C9.65234 0.492188 0.492188 9.65234 0.492188 21H41.5078C41.5078 9.65234 32.3477 0.492188 21 0.492188Z" fill="#428BC1"/>
      //-           </g>
      //-           <defs>
      //-             <clipPath id="clip0_802_261">
      //-               <rect width="42" height="42" fill="white"/>
      //-             </clipPath>
      //-           </defs>
      //-         </svg>
      //-     li.language__item
      //-       a(href="/ua")
      //-         <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
      //-           <g clip-path="url(#clip0_802_281)">
      //-             <path d="M21 42C32.598 42 42 32.598 42 21C42 9.40202 32.598 0 21 0C9.40202 0 0 9.40202 0 21C0 32.598 9.40202 42 21 42Z" fill="#F0F0F0"/>
      //-             <path d="M20.0874 21H42.0004C42.0004 19.1045 41.7478 17.2684 41.277 15.5217H20.0874V21Z" fill="#D80027"/>
      //-             <path d="M20.0874 10.0435H38.9182C37.6327 7.94578 35.989 6.09162 34.0726 4.56519H20.0874V10.0435Z" fill="#D80027"/>
      //-             <path d="M21.0004 42C25.9427 42 30.4853 40.2917 34.0726 37.4348H7.92822C11.5154 40.2917 16.0581 42 21.0004 42Z" fill="#D80027"/>
      //-             <path d="M3.08244 31.9565H38.918C39.95 30.2725 40.7504 28.4317 41.2768 26.4782H0.723633C1.25003 28.4317 2.05041 30.2725 3.08244 31.9565Z" fill="#D80027"/>
      //-             <path d="M9.72759 3.27945H11.6413L9.86122 4.57267L10.5412 6.6652L8.76118 5.37198L6.98119 6.6652L7.56853 4.85748C6.00124 6.16301 4.62755 7.69256 3.49552 9.39684H4.1087L2.9756 10.22C2.79907 10.5145 2.62976 10.8137 2.4675 11.1173L3.00858 12.7826L1.9991 12.0492C1.74817 12.5808 1.51864 13.1244 1.31234 13.6794L1.90846 15.5142H4.1087L2.32862 16.8075L3.00858 18.9L1.22858 17.6068L0.16234 18.3815C0.0556172 19.2394 0 20.1132 0 21H21C21 9.40209 21 8.0348 21 0C16.8515 0 12.9843 1.2034 9.72759 3.27945ZM10.5412 18.9L8.76118 17.6068L6.98119 18.9L7.66114 16.8075L5.88107 15.5142H8.08131L8.76118 13.4217L9.44106 15.5142H11.6413L9.86122 16.8075L10.5412 18.9ZM9.86122 10.6901L10.5412 12.7826L8.76118 11.4894L6.98119 12.7826L7.66114 10.6901L5.88107 9.39684H8.08131L8.76118 7.30431L9.44106 9.39684H11.6413L9.86122 10.6901ZM18.0738 18.9L16.2938 17.6068L14.5138 18.9L15.1937 16.8075L13.4137 15.5142H15.6139L16.2938 13.4217L16.9737 15.5142H19.1739L17.3938 16.8075L18.0738 18.9ZM17.3938 10.6901L18.0738 12.7826L16.2938 11.4894L14.5138 12.7826L15.1937 10.6901L13.4137 9.39684H15.6139L16.2938 7.30431L16.9737 9.39684H19.1739L17.3938 10.6901ZM17.3938 4.57267L18.0738 6.6652L16.2938 5.37198L14.5138 6.6652L15.1937 4.57267L13.4137 3.27945H15.6139L16.2938 1.18691L16.9737 3.27945H19.1739L17.3938 4.57267Z" fill="#0052B4"/>
      //-           </g>
      //-           <defs>
      //-             <clipPath id="clip0_802_281">
      //-               <rect width="42" height="42" fill="white"/>
      //-             </clipPath>
      //-           </defs>
      //-         </svg>
      ul.socials__list.desktop-mode.header-block
        li.socials__item
          a.socials__link(href="/")
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M14 0H2C0.897 0 0 0.897 0 2V14C0 15.103 0.897 16 2 16H8V10.5H6V8H8V6C8 5.20435 8.31607 4.44129 8.87868 3.87868C9.44129 3.31607 10.2044 3 11 3H13V5.5H12C11.448 5.5 11 5.448 11 6V8H13.5L12.5 10.5H11V16H14C15.103 16 16 15.103 16 14V2C16 0.897 15.103 0 14 0Z" fill="#8D9BA4"/>
            </svg>
        li.socials__item
          a.socials__link(href="/")
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M8 1.44578C10.1205 1.44578 10.4096 1.44578 11.2771 1.44578C12.0482 1.44578 12.4337 1.63855 12.7229 1.73494C13.1084 1.92771 13.3976 2.0241 13.6867 2.31325C13.9759 2.60241 14.1687 2.89157 14.2651 3.27711C14.3614 3.56627 14.4578 3.95181 14.5542 4.72289C14.5542 5.59036 14.5542 5.78313 14.5542 8C14.5542 10.2169 14.5542 10.4096 14.5542 11.2771C14.5542 12.0482 14.3614 12.4337 14.2651 12.7229C14.0723 13.1084 13.9759 13.3976 13.6867 13.6867C13.3976 13.9759 13.1084 14.1687 12.7229 14.2651C12.4337 14.3614 12.0482 14.4578 11.2771 14.5542C10.4096 14.5542 10.2169 14.5542 8 14.5542C5.78313 14.5542 5.59036 14.5542 4.72289 14.5542C3.95181 14.5542 3.56627 14.3614 3.27711 14.2651C2.89157 14.0723 2.60241 13.9759 2.31325 13.6867C2.0241 13.3976 1.83133 13.1084 1.73494 12.7229C1.63855 12.4337 1.54217 12.0482 1.44578 11.2771C1.44578 10.4096 1.44578 10.2169 1.44578 8C1.44578 5.78313 1.44578 5.59036 1.44578 4.72289C1.44578 3.95181 1.63855 3.56627 1.73494 3.27711C1.92771 2.89157 2.0241 2.60241 2.31325 2.31325C2.60241 2.0241 2.89157 1.83133 3.27711 1.73494C3.56627 1.63855 3.95181 1.54217 4.72289 1.44578C5.59036 1.44578 5.87952 1.44578 8 1.44578ZM8 0C5.78313 0 5.59036 0 4.72289 0C3.85542 0 3.27711 0.192772 2.79518 0.385543C2.31325 0.578314 1.83133 0.867471 1.3494 1.3494C0.867471 1.83133 0.674699 2.21687 0.385543 2.79518C0.192772 3.27711 0.0963856 3.85542 0 4.72289C0 5.59036 0 5.87952 0 8C0 10.2169 0 10.4096 0 11.2771C0 12.1446 0.192772 12.7229 0.385543 13.2048C0.578314 13.6867 0.867471 14.1687 1.3494 14.6506C1.83133 15.1325 2.21687 15.3253 2.79518 15.6145C3.27711 15.8072 3.85542 15.9036 4.72289 16C5.59036 16 5.87952 16 8 16C10.1205 16 10.4096 16 11.2771 16C12.1446 16 12.7229 15.8072 13.2048 15.6145C13.6867 15.4217 14.1687 15.1325 14.6506 14.6506C15.1325 14.1687 15.3253 13.7831 15.6145 13.2048C15.8072 12.7229 15.9036 12.1446 16 11.2771C16 10.4096 16 10.1205 16 8C16 5.87952 16 5.59036 16 4.72289C16 3.85542 15.8072 3.27711 15.6145 2.79518C15.4217 2.31325 15.1325 1.83133 14.6506 1.3494C14.1687 0.867471 13.7831 0.674699 13.2048 0.385543C12.7229 0.192772 12.1446 0.0963856 11.2771 0C10.4096 0 10.2169 0 8 0Z" fill="#8D9BA4"/>
              <path d="M8 3.85542C5.68675 3.85542 3.85542 5.68675 3.85542 8C3.85542 10.3133 5.68675 12.1446 8 12.1446C10.3133 12.1446 12.1446 10.3133 12.1446 8C12.1446 5.68675 10.3133 3.85542 8 3.85542ZM8 10.6988C6.55422 10.6988 5.30121 9.54217 5.30121 8C5.30121 6.55422 6.45783 5.30121 8 5.30121C9.44578 5.30121 10.6988 6.45783 10.6988 8C10.6988 9.44578 9.44578 10.6988 8 10.6988Z" fill="#8D9BA4"/>
              <path d="M12.241 4.72289C12.7733 4.72289 13.2048 4.29136 13.2048 3.75904C13.2048 3.22671 12.7733 2.79518 12.241 2.79518C11.7086 2.79518 11.2771 3.22671 11.2771 3.75904C11.2771 4.29136 11.7086 4.72289 12.241 4.72289Z" fill="#8D9BA4"/>
            </svg>
        li.socials__item
          a.socials__link(href="/")
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none">
              <path d="M21.45 2.42857C21.175 1.42857 20.4875 0.714286 19.525 0.428572C17.875 2.55448e-07 10.8625 0 10.8625 0C10.8625 0 3.98751 2.55448e-07 2.20001 0.428572C1.23751 0.714286 0.549996 1.42857 0.274996 2.42857C-4.20026e-06 4.28572 0 8 0 8C0 8 4.17978e-06 11.7143 0.412504 13.5714C0.687504 14.5714 1.375 15.2857 2.3375 15.5714C3.9875 16 11 16 11 16C11 16 17.875 16 19.6625 15.5714C20.625 15.2857 21.3125 14.5714 21.5875 13.5714C22 11.7143 22 8 22 8C22 8 22 4.28572 21.45 2.42857ZM8.79999 11.4286V4.57143L14.575 8L8.79999 11.4286Z" fill="#8D9BA4"/>
            </svg>
        li.socials__item
          a.socials__link(href="/")
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 16 14" fill="none">
              <path d="M14.2217 0.860303C14.2217 0.860303 15.6092 0.319227 15.4931 1.63317C15.4549 2.17424 15.1081 4.06819 14.8381 6.11642L13.9131 12.1843C13.9131 12.1843 13.8359 13.0733 13.142 13.2279C12.4484 13.3822 11.4077 12.6868 11.2148 12.5322C11.0606 12.4161 8.32411 10.6768 7.36053 9.82682C7.09052 9.59467 6.78195 9.1311 7.3991 8.59002L11.4463 4.72498C11.9088 4.26069 12.3713 3.17854 10.4441 4.49284L5.04765 8.1643C5.04765 8.1643 4.43086 8.55109 3.27477 8.20323L0.769036 7.43001C0.769036 7.43001 -0.155973 6.85036 1.4244 6.27071C5.27908 4.45427 10.0202 2.59925 14.2213 0.859946" fill="white"/>
            </svg>

      .header__btn-menu-wrap
        button.call-back.tablet-mode(data-call-us-btn type="button").header-block
          span Записатися на перегляд
        button.menu-btn(type="button" data-menu-button).header-block
          .menu-btn__burger
            span.square-over 
            span.square-middle
            span.square-under
          p.menu-btn__text Meню

        //- .call-btn--mobile(data-mobile-callback-popup-call)
        //-   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        //-     <path d="M18.9994 14.4765V17.1862C19.0005 17.4377 18.9488 17.6867 18.8479 17.9172C18.7469 18.1477 18.5988 18.3546 18.413 18.5247C18.2273 18.6947 18.008 18.8242 17.7693 18.9048C17.5305 18.9854 17.2775 19.0153 17.0265 18.9927C14.2415 18.6907 11.5664 17.7409 9.21601 16.2197C7.02929 14.8329 5.17534 12.9827 3.7858 10.8003C2.25627 8.44389 1.30442 5.76107 1.00735 2.96915C0.98473 2.71938 1.01447 2.46764 1.09468 2.22996C1.17489 1.99229 1.30381 1.77389 1.47323 1.58866C1.64265 1.40343 1.84885 1.25544 2.07872 1.15411C2.30858 1.05278 2.55707 1.00032 2.80837 1.00009H5.52347C5.96269 0.995773 6.3885 1.151 6.72152 1.43683C7.05455 1.72267 7.27207 2.11961 7.33354 2.55366C7.44814 3.42084 7.66067 4.27229 7.96707 5.09177C8.08883 5.41507 8.11519 5.76642 8.043 6.1042C7.97082 6.44198 7.80313 6.75203 7.5598 6.99761L6.41041 8.14473C7.69877 10.406 9.57482 12.2784 11.8406 13.5642L12.99 12.4171C13.2361 12.1742 13.5467 12.0069 13.8852 11.9348C14.2236 11.8628 14.5757 11.8891 14.8996 12.0106C15.7207 12.3164 16.5739 12.5285 17.4428 12.6429C17.8824 12.7048 18.2839 12.9258 18.5709 13.2639C18.858 13.6019 19.0105 14.0335 18.9994 14.4765Z" stroke="#00263A" stroke-width="1.71429" stroke-linecap="round"/>
        //-   </svg>



        //- button.menu-btn(type="button" data-menu-button)
        //-   span.menu-btn__text--tablet Meню
        //-   .menu-btn__burger
        //-     span.line-over 
        //-     span.line-under

  nav.header-mob
    button.mob-nav-btn(type='button' data-call-phone-btn data-controls="call")
      <svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_413_3893)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5693 13.8088C18.4014 13.2609 19.4579 13.5763 19.9352 14.3718L22.035 17.8715C22.5158 18.6727 22.2822 19.7103 21.5046 20.2283L20.0413 21.203C19.9235 21.2815 19.9052 21.4248 19.9725 21.5212C20.6769 22.5303 21.892 24.1916 22.9259 25.2255C23.96 26.2595 25.6215 27.4748 26.6306 28.1791C26.7269 28.2464 26.8702 28.2282 26.9487 28.1104L27.9242 26.6471C28.4424 25.8699 29.4797 25.6366 30.2807 26.1172L33.7804 28.2171C34.5761 28.6945 34.8913 29.7513 34.3431 30.5834C33.9738 31.144 33.4201 31.9093 32.7491 32.5948C32.0911 33.2669 31.251 33.9347 30.2992 34.1897C28.9593 34.5488 27.3742 34.0921 26.2344 33.6383C25.0511 33.1672 24.1395 32.612 24.0622 32.5645L24.0576 32.5616L24.0465 32.5547L24.0371 32.5485L24.0354 32.5474C23.9291 32.4772 20.9436 30.5042 19.2953 28.8559C17.6471 27.2076 15.6746 24.2229 15.6046 24.1169L15.6029 24.1144L15.5968 24.1049L15.5898 24.0938L15.587 24.0893C15.5395 24.0121 14.9842 23.1005 14.513 21.9172C14.0592 20.7774 13.6025 19.1921 13.9617 17.8521C14.2169 16.9003 14.885 16.0602 15.5574 15.4023C16.243 14.7314 17.0086 14.1779 17.5693 13.8088ZM18.5174 15.0407C18.4744 15.0298 18.4337 15.0356 18.3941 15.0616C17.8761 15.4026 17.1972 15.8964 16.6064 16.4745C16.0023 17.0655 15.5619 17.6759 15.4106 18.2406C15.188 19.0708 15.4638 20.2499 15.9066 21.3623C16.3184 22.3966 16.8051 23.2058 16.8608 23.2971C16.9927 23.4965 18.8541 26.2933 20.356 27.7952C21.858 29.2972 24.6548 31.1586 24.8543 31.2906C24.9457 31.3464 25.7549 31.833 26.7892 32.2447C27.9016 32.6876 29.0807 32.9633 29.911 32.7409C30.4756 32.5895 31.0861 32.1493 31.6773 31.5454C32.2554 30.9548 32.7494 30.2761 33.0905 29.7582C33.1166 29.7186 33.1224 29.6779 33.1115 29.6349C33.0999 29.589 33.0678 29.5388 33.0087 29.5033L29.5089 27.4035C29.3945 27.3348 29.2463 27.3681 29.1723 27.4792L28.1968 28.9424C27.6652 29.7399 26.5776 29.9715 25.772 29.4091C24.764 28.7055 23.0029 27.4238 21.8653 26.2861C20.7278 25.1486 19.4462 23.3878 18.7425 22.3797C18.18 21.5739 18.4119 20.4861 19.2098 19.9546L20.673 18.9799C20.7841 18.9059 20.8175 18.7577 20.7488 18.6432L18.649 15.1435C18.6135 15.0844 18.5633 15.0523 18.5174 15.0407Z" fill="#A4A4A8"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7558 17.9077C24.8068 17.4966 25.1814 17.2048 25.5925 17.2558L25.5001 18.0001C25.5925 17.2558 25.5928 17.2558 25.5931 17.2559L25.5937 17.2559L25.5951 17.2561L25.5984 17.2565L25.6069 17.2577L25.6315 17.2612C25.6513 17.2642 25.6777 17.2684 25.7104 17.2742C25.7758 17.2858 25.8664 17.3036 25.979 17.3303C26.2043 17.3835 26.5183 17.4719 26.8961 17.6154C27.6522 17.9026 28.6644 18.4108 29.7302 19.2989C30.7971 20.188 31.4196 21.0429 31.7784 21.6987C31.9572 22.0257 32.0692 22.3009 32.138 22.503C32.1724 22.6041 32.1959 22.6868 32.2117 22.7485C32.2195 22.7793 32.2254 22.8049 32.2298 22.825L32.2351 22.8508L32.237 22.8605L32.2377 22.8646L32.2381 22.8664L32.2382 22.8673C32.2383 22.8677 32.2384 22.8681 31.5001 23.0001L32.2384 22.8681C32.3113 23.2758 32.0398 23.6655 31.6321 23.7384C31.2273 23.8107 30.8404 23.5438 30.7634 23.141C30.7628 23.1383 30.7612 23.1308 30.7582 23.119C30.7518 23.0939 30.7393 23.0489 30.718 22.9863C30.6754 22.8613 30.5976 22.6658 30.4623 22.4185C30.1929 21.9259 29.6904 21.2183 28.7699 20.4512C27.8483 19.6832 26.9856 19.2539 26.3635 19.0177C26.0523 18.8994 25.8014 18.8296 25.634 18.79C25.5504 18.7703 25.4877 18.7581 25.449 18.7512C25.4296 18.7478 25.4162 18.7457 25.4092 18.7447L25.4038 18.7439C24.9948 18.691 24.7049 18.3174 24.7558 17.9077Z" fill="#A4A4A8"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7582 13.8896C24.8192 13.4799 25.2008 13.1972 25.6105 13.2583L25.5 14.0001C25.6105 13.2583 25.6109 13.2583 25.6112 13.2584L25.612 13.2585L25.6137 13.2588L25.6179 13.2594L25.6292 13.2612L25.6631 13.2671C25.6908 13.2721 25.7283 13.2793 25.7752 13.2892C25.8691 13.3091 26.0003 13.3402 26.1643 13.3867C26.4924 13.4797 26.9519 13.6348 27.5056 13.8872C28.6145 14.3927 30.0966 15.2861 31.6553 16.8448C33.214 18.4035 34.1074 19.8856 34.6128 20.9944C34.8652 21.5482 35.0203 22.0077 35.1134 22.3358C35.1599 22.4998 35.1909 22.631 35.2109 22.7248C35.2208 22.7717 35.228 22.8093 35.233 22.8369L35.2388 22.8709L35.2407 22.8822L35.2413 22.8864L35.2416 22.8881L35.2417 22.8889C35.2417 22.8892 35.2418 22.8896 34.5 23.0001L35.2418 22.8896C35.3028 23.2993 35.0202 23.6809 34.6105 23.7419C34.202 23.8028 33.8214 23.5219 33.7587 23.1141C33.7587 23.1141 33.7587 23.1141 33.7587 23.1141C33.7587 23.1141 33.7587 23.114 33.7587 23.1139L33.7567 23.1024C33.7544 23.0899 33.7502 23.0677 33.7436 23.0365C33.7303 22.9741 33.7073 22.8755 33.6703 22.745C33.5963 22.4842 33.4666 22.0964 33.2479 21.6166C32.8111 20.6582 32.017 19.3278 30.5946 17.9054C29.1723 16.4831 27.8419 15.689 26.8835 15.2522C26.4037 15.0334 26.0159 14.9037 25.755 14.8298C25.6246 14.7928 25.526 14.7697 25.4636 14.7565C25.4324 14.7499 25.4102 14.7457 25.3977 14.7434M24.7582 13.8896C24.6973 14.2981 24.9782 14.6787 25.386 14.7414L24.7582 13.8896ZM33.7585 23.1129C33.7585 23.1128 33.7585 23.1128 33.7585 23.1127L33.7585 23.1129L33.7585 23.1129ZM33.7583 23.1118C33.7583 23.1116 33.7583 23.1114 33.7583 23.1113C33.7583 23.1113 33.7583 23.1113 33.7583 23.1113L33.7583 23.1118Z" fill="#A4A4A8"/>
        </g>
        <defs>
          <clipPath id="clip0_413_3893">
          <rect width="24" height="24" fill="white" transform="translate(12.5 12)"/>
          </clipPath>
        </defs>
      </svg>
    a.mob-nav-btn(href="/" data-controls="home").active
      <svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M22.9017 14.2201C23.8578 13.5371 25.1423 13.537 26.0985 14.22L33.2613 19.3361C34.5096 20.2277 35.2505 21.6673 35.2505 23.2014V31C35.2505 33.0711 33.5716 34.75 31.5005 34.75H28.6429C27.1241 34.75 25.8929 33.5188 25.8929 32V30.5C25.8929 30.0858 25.5571 29.75 25.1429 29.75H23.8572C23.443 29.75 23.1072 30.0858 23.1072 30.5V32C23.1072 33.5188 21.876 34.75 20.3572 34.75H17.5005C15.4294 34.75 13.7505 33.0711 13.7505 31V23.2013C13.7505 21.6673 14.4913 20.2277 15.7395 19.3361L22.9017 14.2201ZM25.2266 15.4406C24.792 15.1302 24.2082 15.1302 23.7736 15.4406L16.6114 20.5567C15.7574 21.1667 15.2505 22.1517 15.2505 23.2013V31C15.2505 32.2426 16.2578 33.25 17.5005 33.25H20.3572C21.0476 33.25 21.6072 32.6903 21.6072 32V30.5C21.6072 29.2573 22.6146 28.25 23.8572 28.25H25.1429C26.3856 28.25 27.3929 29.2573 27.3929 30.5V32C27.3929 32.6903 27.9526 33.25 28.6429 33.25H31.5005C32.7431 33.25 33.7505 32.2426 33.7505 31V23.2014C33.7505 22.1518 33.2436 21.1668 32.3895 20.5567L25.2266 15.4406Z" fill="#A4A4A8"/>
      </svg>
    button.mob-nav-btn(type='button' data-controls="menu" data-menu-button)
      <svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.75 17C13.75 14.9289 15.4289 13.25 17.5 13.25H20.0714C22.1425 13.25 23.8214 14.9289 23.8214 17V19.5714C23.8214 21.6425 22.1425 23.3214 20.0714 23.3214H17.5C15.4289 23.3214 13.75 21.6425 13.75 19.5714V17ZM17.5 14.75C16.2574 14.75 15.25 15.7574 15.25 17V19.5714C15.25 20.8141 16.2574 21.8214 17.5 21.8214H20.0714C21.3141 21.8214 22.3214 20.8141 22.3214 19.5714V17C22.3214 15.7574 21.3141 14.75 20.0714 14.75H17.5Z" fill="#A4A4A8"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.1785 17C25.1785 14.9289 26.8574 13.25 28.9285 13.25H31.4999C33.571 13.25 35.2499 14.9289 35.2499 17V19.5714C35.2499 21.6425 33.571 23.3214 31.4999 23.3214H28.9285C26.8574 23.3214 25.1785 21.6425 25.1785 19.5714V17ZM28.9285 14.75C27.6858 14.75 26.6785 15.7574 26.6785 17V19.5714C26.6785 20.8141 27.6858 21.8214 28.9285 21.8214H31.4999C32.7425 21.8214 33.7499 20.8141 33.7499 19.5714V17C33.7499 15.7574 32.7425 14.75 31.4999 14.75H28.9285Z" fill="#A4A4A8"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.1785 28.4286C25.1785 26.3575 26.8574 24.6786 28.9285 24.6786H31.4999C33.571 24.6786 35.2499 26.3575 35.2499 28.4286V31C35.2499 33.0711 33.571 34.75 31.4999 34.75H28.9285C26.8574 34.75 25.1785 33.0711 25.1785 31V28.4286ZM28.9285 26.1786C27.6858 26.1786 26.6785 27.1859 26.6785 28.4286V31C26.6785 32.2426 27.6858 33.25 28.9285 33.25H31.4999C32.7425 33.25 33.7499 32.2426 33.7499 31V28.4286C33.7499 27.1859 32.7425 26.1786 31.4999 26.1786H28.9285Z" fill="#A4A4A8"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.75 28.4286C13.75 26.3575 15.4289 24.6786 17.5 24.6786H20.0714C22.1425 24.6786 23.8214 26.3575 23.8214 28.4286V31C23.8214 33.0711 22.1425 34.75 20.0714 34.75H17.5C15.4289 34.75 13.75 33.0711 13.75 31V28.4286ZM17.5 26.1786C16.2574 26.1786 15.25 27.1859 15.25 28.4286V31C15.25 32.2426 16.2574 33.25 17.5 33.25H20.0714C21.3141 33.25 22.3214 32.2426 22.3214 31V28.4286C22.3214 27.1859 21.3141 26.1786 20.0714 26.1786H17.5Z" fill="#A4A4A8"/>
      </svg>

.overflow.hidden(data-call-us__overflow)
  .modal-form(data-call-us-modal) 
    .close-btn(data-call-us-modal-close)
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M15 15L1 1M1 15L15 1L1 15Z" stroke="#0A0D18" stroke-width="2"/>
      </svg>
    h3 Запис на перегляд
    //- p.form__descr Якщо у вас виникли питання або потрібна консультація, наші менеджери з радістю допоможуть вам!
    +form
.overflow.hidden(data-call-phone__overflow)
  .modal-form.modal-form--phone(data-call-phone-modal) 
    //- .close-btn(data-call-phone-modal-close)
    //-   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
    //-     <path d="M15 15L1 1M1 15L15 1L1 15Z" stroke="#0A0D18" stroke-width="2"/>
    //-   </svg>
    h3 Телефон відділу продажів
    a(href="tel:380984567890").accent-btn
      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_263_9636)">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.56942 1.80877C6.40155 1.26094 7.45803 1.57628 7.93533 2.37179L10.0351 5.87146C10.5159 6.6727 10.2824 7.71027 9.5047 8.22828L8.04147 9.20298C7.92361 9.28149 7.90535 9.42478 7.97262 9.52116C8.67702 10.5303 9.89216 12.1916 10.9261 13.2255C11.9601 14.2595 13.6216 15.4748 14.6307 16.1791C14.727 16.2464 14.8703 16.2282 14.9488 16.1104L15.9243 14.6471C16.4425 13.8699 17.4798 13.6366 18.2808 14.1172L21.7805 16.2171C22.5762 16.6945 22.8915 17.7513 22.3433 18.5834C21.974 19.144 21.4202 19.9093 20.7493 20.5948C20.0912 21.2669 19.2511 21.9347 18.2993 22.1897C16.9594 22.5488 15.3743 22.0921 14.2345 21.6383C13.0512 21.1672 12.1396 20.612 12.0623 20.5645L12.0577 20.5616L12.0467 20.5547L12.0372 20.5485L12.0355 20.5474C11.9292 20.4772 8.94376 18.5042 7.29547 16.8559C5.6472 15.2076 3.67471 12.2229 3.60469 12.1169L3.60304 12.1144L3.5969 12.1049L3.58992 12.0938L3.58712 12.0893C3.53965 12.0121 2.98432 11.1005 2.51317 9.91715C2.05936 8.77736 1.60258 7.19214 1.96185 5.85212C2.21704 4.90028 2.8851 4.06019 3.55751 3.40231C4.24317 2.73145 5.00874 2.1779 5.56942 1.80877ZM6.51752 3.04071C6.47455 3.02984 6.43384 3.03557 6.39424 3.06164C5.87627 3.40264 5.19735 3.89642 4.60653 4.47448C4.00246 5.06551 3.56206 5.67592 3.41068 6.24056C3.1881 7.07077 3.46388 8.2499 3.90677 9.3623C4.31857 10.3966 4.80524 11.2058 4.8609 11.2971C4.99283 11.4965 6.85423 14.2933 8.35613 15.7952C9.85808 17.2972 12.6549 19.1586 12.8544 19.2906C12.9458 19.3464 13.7551 19.833 14.7893 20.2447C15.9017 20.6876 17.0808 20.9633 17.9111 20.7409C18.4757 20.5895 19.0862 20.1493 19.6774 19.5454C20.2555 18.9548 20.7495 18.2761 21.0907 17.7582C21.1167 17.7186 21.1225 17.6779 21.1116 17.6349C21.1 17.589 21.0679 17.5388 21.0088 17.5033L17.509 15.4035C17.3946 15.3348 17.2464 15.3681 17.1724 15.4792L16.1969 16.9424C15.6653 17.7399 14.5777 17.9715 13.7721 17.4091C12.7641 16.7055 11.0031 15.4238 9.86541 14.2861C8.72788 13.1486 7.4463 11.3878 6.74265 10.3797C6.18014 9.57392 6.41203 8.48606 7.20988 7.95459L8.67312 6.9799C8.78421 6.90589 8.81757 6.75767 8.74889 6.64321L6.64909 3.14354C6.61363 3.08443 6.56339 3.05232 6.51752 3.04071Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7558 5.90767C12.8068 5.49661 13.1814 5.20476 13.5925 5.25579L13.5001 6.00008C13.5925 5.25579 13.5928 5.25583 13.5931 5.25587L13.5937 5.25595L13.5951 5.25612L13.5984 5.25654L13.6069 5.25768L13.6315 5.26122C13.6513 5.26419 13.6777 5.26841 13.7104 5.2742C13.7758 5.28578 13.8664 5.30364 13.979 5.33026C14.2043 5.38349 14.5183 5.47187 14.8961 5.61539C15.6522 5.90258 16.6644 6.41076 17.7302 7.29891C18.7971 8.18801 19.4196 9.0429 19.7784 9.69873C19.9572 10.0257 20.0692 10.3009 20.138 10.503C20.1724 10.6041 20.1959 10.6868 20.2117 10.7485C20.2195 10.7793 20.2254 10.8049 20.2298 10.825L20.2351 10.8508L20.237 10.8605L20.2377 10.8646L20.2381 10.8664L20.2382 10.8673C20.2383 10.8677 20.2384 10.8681 19.5001 11.0001L20.2384 10.8681C20.3113 11.2758 20.0398 11.6655 19.6321 11.7384C19.2273 11.8107 18.8404 11.5438 18.7634 11.141C18.7628 11.1383 18.7612 11.1308 18.7582 11.119C18.7518 11.0939 18.7393 11.0489 18.718 10.9863C18.6754 10.8613 18.5976 10.6658 18.4623 10.4185C18.1929 9.9259 17.6904 9.2183 16.7699 8.45124C15.8483 7.68325 14.9856 7.25393 14.3635 7.01765C14.0523 6.89944 13.8014 6.8296 13.634 6.79004C13.5504 6.77027 13.4877 6.75809 13.449 6.75123C13.4296 6.74781 13.4162 6.74571 13.4092 6.74466L13.4038 6.74387C12.9948 6.69096 12.7049 6.31743 12.7558 5.90767Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7583 1.88958C12.8193 1.47988 13.2009 1.19725 13.6106 1.25829L13.5001 2.0001C13.6106 1.25829 13.611 1.25834 13.6113 1.2584L13.6121 1.25851L13.6138 1.25877L13.618 1.25942L13.6293 1.26123L13.6633 1.26709C13.6909 1.27206 13.7285 1.27926 13.7754 1.28922C13.8692 1.30915 14.0004 1.34017 14.1644 1.38669C14.4925 1.47974 14.952 1.63484 15.5058 1.88725C16.6146 2.39265 18.0967 3.28606 19.6554 4.84477C21.2141 6.40348 22.1076 7.8856 22.613 8.99444C22.8654 9.54823 23.0205 10.0077 23.1135 10.3358C23.16 10.4998 23.1911 10.631 23.211 10.7248C23.2209 10.7717 23.2281 10.8093 23.2331 10.8369L23.239 10.8709L23.2408 10.8822L23.2414 10.8864L23.2417 10.8881L23.2418 10.8889C23.2419 10.8892 23.2419 10.8896 22.5001 11.0001L23.2419 10.8896C23.303 11.2993 23.0203 11.6809 22.6106 11.7419C22.2021 11.8028 21.8215 11.5219 21.7588 11.1141C21.7588 11.1141 21.7588 11.1141 21.7588 11.1141C21.7588 11.1141 21.7588 11.114 21.7588 11.1139L21.7568 11.1024C21.7545 11.0899 21.7504 11.0677 21.7437 11.0365C21.7305 10.9741 21.7074 10.8755 21.6704 10.745C21.5965 10.4842 21.4668 10.0964 21.248 9.61656C20.8112 8.65817 20.0171 7.32779 18.5948 5.90543C17.1724 4.48308 15.842 3.68898 14.8836 3.25215C14.4038 3.03345 14.016 2.90375 13.7552 2.82977C13.6247 2.79279 13.5261 2.76974 13.4637 2.75648C13.4325 2.74985 13.4103 2.74567 13.3978 2.74341M12.7583 1.88958C12.6974 2.29811 12.9783 2.67872 13.3861 2.74139L12.7583 1.88958ZM21.7586 11.1129C21.7586 11.1128 21.7586 11.1128 21.7586 11.1127L21.7586 11.1129L21.7586 11.1129ZM21.7585 11.1118C21.7584 11.1116 21.7584 11.1114 21.7584 11.1113C21.7584 11.1113 21.7584 11.1113 21.7584 11.1113L21.7585 11.1118Z" fill="white"/>
      </g>
      <defs>
      <clipPath id="clip0_263_9636">
      <rect width="24" height="24" fill="white" transform="translate(0.5)"/>
      </clipPath>
      </defs>
      </svg>
      span 380 98 456 7890 

.menu__container.hidden(data-menu)
  .menu__bg.container(data-lenis-prevent)
    a(href="/").menu-logo
      <svg xmlns="http://www.w3.org/2000/svg" width="146" height="63" viewBox="0 0 146 63" fill="none">
        <path d="M143.843 4.86494C143.843 6.36991 142.607 7.5946 141.088 7.5946C139.569 7.5946 138.333 6.36991 138.333 4.86494C138.333 3.36017 139.569 2.13547 141.088 2.13547C142.607 2.13547 143.843 3.36017 143.843 4.86494ZM141.088 -0.00102711C138.379 -0.00102711 136.176 2.182 136.176 4.86494C136.176 7.54826 138.379 9.7311 141.088 9.7311C143.796 9.7311 145.999 7.54826 145.999 4.86494C145.999 2.182 143.796 -0.00102711 141.088 -0.00102711Z" fill="#F58614"/>
        <path d="M12.5293 28.3492L7.78306 26.9047C4.21093 25.804 2.96514 24.5135 3.02208 21.9733C3.05972 20.2943 3.74185 18.9465 5.04938 17.9672C6.24727 17.0702 7.62681 16.6524 9.39076 16.6524C9.50026 16.6524 9.61126 16.6539 9.72405 16.6572C12.017 16.7221 13.4061 17.1974 14.5178 18.2979C15.421 19.1913 15.9462 20.4466 16.0364 21.9282L16.1007 22.9831H18.4869L18.4139 21.7924L18.413 21.7812C18.2231 19.6627 17.4625 17.9307 16.1524 16.6328C14.66 15.1541 12.5462 14.4043 9.6902 14.3406C9.59615 14.3384 9.50207 14.3372 9.40882 14.3372C6.94358 14.3372 4.78005 15.0583 3.15204 16.4224C1.47103 17.8308 0.582509 19.8068 0.582509 22.1368C0.582509 24.0549 1.16749 25.5593 2.37109 26.7356C3.46813 27.8081 5.11977 28.6458 7.56688 29.3717L11.1954 30.4644C12.7806 30.9478 14.5596 31.5377 15.6055 32.4218C16.613 33.2732 17.0241 34.2866 17.0241 35.9198C17.0241 39.4534 14.0731 41.8275 9.68115 41.8275C7.17462 41.8275 5.04354 41.1895 3.98025 40.1207C2.88929 39.0239 2.44419 37.8521 2.44419 36.0755V34.998H0V35.7469C0 36.6978 -0.000224258 39.5917 1.92906 41.5208C3.70787 43.2999 6.28623 44.2019 9.5919 44.2019C12.1652 44.2019 14.6136 43.5006 16.3097 42.278C18.3948 40.7752 19.4969 38.5765 19.4969 35.9195C19.4969 33.912 18.9739 32.4146 17.8517 31.2077C16.7519 30.0247 15.0603 29.1163 12.5293 28.3492Z" fill="#505256"/>
        <path d="M58.1299 16.8629H67.852V44.0012H70.5753V16.8629H80.2652V14.5307H58.1299V16.8629Z" fill="#505256"/>
        <path d="M90.7561 41.6691C89.7699 41.6691 88.9676 40.8743 88.9676 39.8972V14.5308H86.2441V39.9566C86.2441 42.1868 88.0757 44.0014 90.3269 44.0014H101.41V41.6691H90.7561Z" fill="#505256"/>
        <path d="M33.5277 38.6605L33.0347 40.1745L32.5415 38.6008L24.915 14.812L24.8248 14.5308H22.0596L31.6009 44.0014H34.4662L44.221 14.5308H41.4542L33.5277 38.6605Z" fill="#505256"/>
        <path d="M49.4834 44.0014H52.2073V14.5447H49.4834V44.0014Z" fill="#505256"/>
        <path d="M0.612144 62.5233C0.90874 62.5606 1.33695 62.5699 1.80918 62.5699C4.18114 62.5699 5.35602 61.4422 5.35602 59.6244C5.37803 58.0305 4.33485 56.9398 1.95184 56.9398C1.3808 56.9398 0.930669 56.9866 0.612144 57.0424V62.5233ZM0.0849609 56.707C0.656225 56.6231 1.28199 56.5671 1.98487 56.5671C3.3356 56.5671 4.35678 56.8747 4.97181 57.4248C5.56468 57.9467 5.89417 58.655 5.89417 59.6057C5.89417 60.5286 5.5978 61.3581 4.92774 61.9827C4.28003 62.5886 3.15975 62.9429 1.7322 62.9429C1.16126 62.9429 0.623108 62.9336 0.0849609 62.8961V56.707Z" fill="#505256"/>
        <path d="M18.359 59.7738H15.4048V62.5236H18.7102V62.8964H14.8779V56.6141H18.5347V56.9869H15.4048V59.4011H18.359V59.7738Z" fill="#505256"/>
        <path d="M29.371 62.8964L26.9111 56.6141H27.4603L28.767 59.979C29.1184 60.8924 29.426 61.6847 29.6346 62.3839H29.6675C29.887 61.6755 30.2275 60.8645 30.6119 59.979L32.0505 56.6141H32.6105L29.8651 62.8964H29.371Z" fill="#505256"/>
        <path d="M44.5574 59.7737H41.6034V62.5236H44.9088V62.8963H41.0762V56.614H44.7331V56.9868H41.6034V59.401H44.5574V59.7737Z" fill="#505256"/>
        <path d="M53.8809 56.614H54.4077V62.5236H57.7023V62.8963H53.8809V56.614Z" fill="#505256"/>
        <path d="M68.8476 62.6265C70.6047 62.6265 71.582 61.2751 71.582 59.7184C71.582 58.3947 70.7254 56.8847 68.8695 56.8847C66.9918 56.8847 66.1242 58.3387 66.1242 59.8024C66.1242 61.2189 67.0905 62.6265 68.8366 62.6265H68.8476ZM68.8147 62.9995C66.9918 62.9995 65.5752 61.7783 65.5752 59.8209C65.5752 57.7608 67.0466 56.5118 68.9026 56.5118C70.7694 56.5118 72.1311 57.7515 72.1311 59.6904C72.1311 61.9088 70.5278 62.9995 68.8257 62.9995H68.8147Z" fill="#505256"/>
        <path d="M81.6402 59.8206C81.8929 59.8951 82.2222 59.9136 82.5847 59.9136C83.9135 59.9136 84.704 59.3731 84.704 58.3758C84.704 57.3877 83.8585 56.9402 82.6835 56.9402C82.2002 56.9402 81.8379 56.9776 81.6402 57.0149V59.8206ZM81.1133 56.6886C81.5414 56.6234 82.0795 56.5674 82.7055 56.5674C83.584 56.5674 84.2538 56.7631 84.6602 57.0988C85.0224 57.3877 85.2312 57.8071 85.2312 58.3293C85.2312 58.8698 85.0554 59.2708 84.715 59.5875C84.2428 60.0441 83.4523 60.2866 82.5409 60.2866C82.2002 60.2866 81.9038 60.2773 81.6402 60.2121V62.8964H81.1133V56.6886Z" fill="#505256"/>
        <path d="M100.438 59.923C100.372 58.9815 100.284 57.8258 100.284 57.1359H100.262C99.9877 57.8166 99.6914 58.5435 99.2631 59.485L97.7038 62.8964H97.3413L95.8808 59.5595C95.4636 58.5808 95.1451 57.8258 94.9255 57.1359H94.9036C94.8815 57.8725 94.8267 58.9628 94.7389 60.007L94.508 62.8964H93.9922L94.5303 56.6141H95.1341L96.7265 60.24C97.0779 61.0324 97.3303 61.666 97.5391 62.272H97.5719C97.7586 61.6941 98.0222 61.0882 98.3957 60.24L100.054 56.6141H100.68L101.174 62.8964H100.658L100.438 59.923Z" fill="#505256"/>
        <path d="M113.901 59.7738H110.947V62.5237H114.252V62.8964H110.42V56.6141H114.077V56.9869H110.947V59.4011H113.901V59.7738Z" fill="#505256"/>
        <path d="M123.235 62.8964V56.6141H123.729L126.607 60.3237C127.211 61.1069 127.639 61.6941 128.001 62.2999L128.023 62.2908C127.946 61.4425 127.935 60.7247 127.935 59.746V56.6141H128.44V62.8964H127.957L125.135 59.2426C124.586 58.5248 124.081 57.863 123.697 57.2104L123.674 57.2199C123.729 57.9935 123.741 58.674 123.741 59.718V62.8964H123.235Z" fill="#505256"/>
        <path d="M139.321 56.9869H136.905V56.6141H142.264V56.9869H139.848V62.8964H139.321V56.9869Z" fill="#505256"/>
        <path d="M124.269 8.51282C124.026 8.51282 123.787 8.57677 123.577 8.69781L111.121 15.8918C110.199 16.4247 109.626 17.4132 109.626 18.4715V39.816C109.626 40.8326 110.46 41.6595 111.486 41.6595H138.098C139.124 41.6595 139.958 40.8326 139.958 39.816V18.601C139.958 17.5096 139.358 16.5061 138.391 15.9818L124.929 8.67984C124.727 8.57047 124.499 8.51282 124.269 8.51282ZM138.098 43.9982H111.486C109.158 43.9982 107.265 42.1222 107.265 39.816V18.4715C107.265 16.5843 108.287 14.8217 109.933 13.8713L122.388 6.67735C122.958 6.34797 123.609 6.17373 124.269 6.17373C124.894 6.17373 125.514 6.3311 126.062 6.62842L139.525 13.9303C141.248 14.8649 142.319 16.6545 142.319 18.601V39.816C142.319 42.1222 140.425 43.9982 138.098 43.9982Z" fill="#F58614"/>
      </svg>
    .menu__content
      nav
        ul.nav__list 
          li.nav__item
            a(href="/about" data-text="Про нас").nav__link
              span Про нас
          li.nav__item 
            a(href="/projects" data-text="Проєкти").nav__link 
              span Проєкти
          li.nav__item 
            a(href="#about" data-text="Умови придбання").nav__link
              span Умови придбання
      ul.social-list 
        li 
          a.social-item(href="" target="_blank" rel="noopener noreferrer")
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path d="M16.3092 4.485H18.5V0.669C18.122 0.617 16.8221 0.5 15.3083 0.5C12.1495 0.5 9.98571 2.487 9.98571 6.139V9.5H6.5V13.766H9.98571V24.5H14.2594V13.767H17.6041L18.135 9.501H14.2584V6.562C14.2594 5.329 14.5913 4.485 16.3092 4.485Z" fill="#F58614"/>
            </svg>
        li
          a.social-item(href="" target="_blank" rel="noopener noreferrer")
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.1357 1.56225C9.27081 1.5124 9.63705 1.5 12.5041 1.5C15.3704 1.5 15.7379 1.51239 16.8775 1.56647C18.0417 1.61786 18.8567 1.80759 19.5776 2.08604C20.338 2.3725 21.0306 2.82374 21.6028 3.40386L21.5996 3.40079L21.2837 3.72414L21.6058 3.40696L21.6028 3.40386C22.1887 3.97714 22.6357 4.66602 22.926 5.43324C23.205 6.15118 23.3946 6.97058 23.4459 8.13441C23.4959 9.27066 23.5 9.63842 23.5 12.5021C23.5 15.3686 23.4876 15.7348 23.4377 16.8697C23.3863 18.0352 23.1961 18.8506 22.9174 19.572C22.3232 21.1083 21.1083 22.3231 19.5717 22.9173C18.8534 23.1966 18.0335 23.3864 16.8686 23.4377C15.7334 23.4878 15.3671 23.5 12.5001 23.5C9.63308 23.5 9.26663 23.4878 8.13161 23.4377C6.96682 23.3864 6.15185 23.1967 5.43066 22.9182C4.66998 22.6316 3.97717 22.1801 3.40482 21.5997L3.40731 21.6022L3.72454 21.2801L3.40237 21.5972L3.40482 21.5997C2.82466 21.0279 2.37328 20.3396 2.08239 19.571C1.80341 18.8531 1.61359 18.0337 1.56227 16.8698C1.51241 15.7349 1.5 15.3686 1.5 12.5021C1.5 9.63632 1.51239 9.26892 1.56649 8.12947C1.61789 6.96542 1.80766 6.15078 2.08616 5.42986C2.3728 4.66971 2.82392 3.97725 3.4042 3.40509L3.40114 3.40821L3.72454 3.72414L3.40731 3.40202L3.4042 3.40509C3.97758 2.81925 4.6666 2.37238 5.43414 2.0821C6.15199 1.80335 6.97158 1.61357 8.1357 1.56225ZM12.4996 7.28906C9.623 7.28906 7.28906 9.62284 7.28906 12.4996C7.28906 15.3763 9.623 17.7101 12.4996 17.7101C15.3763 17.7101 17.7101 15.3763 17.7101 12.4996C17.7101 9.62284 15.3763 7.28906 12.4996 7.28906ZM18.8684 3.81543C17.5896 3.81543 16.5527 4.85206 16.5527 6.13122C16.5527 7.41011 17.5896 8.44701 18.8684 8.44701C20.1474 8.44701 21.1843 7.41016 21.1843 6.13122C21.1843 4.85201 20.1474 3.81543 18.8684 3.81543Z" fill="#F58614"/>
            </svg>
        li
          a.social-item(href="" target="_blank" rel="noopener noreferrer")
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M24.3222 7.73746L24.3233 7.74834C24.3304 7.82811 24.4998 9.72283 24.5 11.6252V13.4035C24.5 15.3058 24.3304 17.2005 24.3233 17.2803L24.3206 17.3046C24.2971 17.4915 24.067 19.1565 23.2714 20.0129C22.3167 21.053 21.2401 21.1661 20.7224 21.2206L20.722 21.2206C20.6726 21.2257 20.6275 21.2304 20.5874 21.2356L20.5455 21.24C17.3727 21.4685 12.5812 21.4996 12.5332 21.4998L12.5259 21.5L12.5186 21.4998C12.2751 21.4964 6.53127 21.4113 4.69931 21.2387L4.64383 21.2311C4.58804 21.2214 4.50692 21.2122 4.41262 21.2015L4.40488 21.2007C3.78745 21.1307 2.63957 21.0005 1.73174 20.0167C0.900265 19.1509 0.698119 17.4807 0.677794 17.2925L0.676512 17.2805C0.669371 17.2007 0.5 15.3058 0.5 13.4035V11.6252C0.5 9.72283 0.669371 7.82793 0.676512 7.74834L0.679259 7.72404C0.702879 7.53693 0.932858 5.87193 1.72845 5.01577C2.6967 3.96108 3.77958 3.83724 4.29996 3.77777C4.30726 3.77693 4.31445 3.7761 4.32154 3.77529C4.3541 3.77155 4.38442 3.76808 4.41238 3.76435L4.45468 3.76C7.65607 3.53155 12.4477 3.50036 12.4957 3.50018L12.4999 3.5L12.5041 3.50018C12.5521 3.50036 17.3437 3.53155 20.5166 3.76L20.5585 3.76435C20.5942 3.76907 20.6341 3.7736 20.6777 3.7785C21.2041 3.83779 22.2987 3.96144 23.2642 4.97933C24.0996 5.84474 24.3019 7.54617 24.3222 7.73746ZM10.7447 8.91023L16.3293 11.7018C16.6598 11.867 16.8643 12.1833 16.8629 12.5274C16.8614 12.8715 16.6544 13.1864 16.3229 13.3493L10.7382 16.0928C10.5849 16.1682 10.4182 16.2057 10.252 16.2057C10.0705 16.2057 9.88941 16.161 9.72606 16.0718C9.41325 15.9011 9.22656 15.6003 9.22656 15.2675V9.73233C9.22656 9.39793 9.4144 9.09664 9.72934 8.92609C10.0441 8.75572 10.4236 8.74972 10.7447 8.91023Z" fill="#F58614"/>
            </svg>
    button(type="button" data-call-us-btn).accent-btn
      span Записатися на перегляд








