header(class="header "+headerCustomClass)
  .container.header-bg
    .header__logo-wrap.header-block
      a(href="/").header__logo
        <svg xmlns="http://www.w3.org/2000/svg" width="146" height="63" viewBox="0 0 146 63" fill="none">
          <path d="M143.843 4.86494C143.843 6.36991 142.607 7.5946 141.088 7.5946C139.569 7.5946 138.333 6.36991 138.333 4.86494C138.333 3.36017 139.569 2.13547 141.088 2.13547C142.607 2.13547 143.843 3.36017 143.843 4.86494ZM141.088 -0.00102711C138.379 -0.00102711 136.176 2.182 136.176 4.86494C136.176 7.54826 138.379 9.7311 141.088 9.7311C143.796 9.7311 145.999 7.54826 145.999 4.86494C145.999 2.182 143.796 -0.00102711 141.088 -0.00102711Z" fill="#F58614"/>
          <path d="M12.5293 28.3492L7.78306 26.9047C4.21093 25.804 2.96514 24.5135 3.02208 21.9733C3.05972 20.2943 3.74185 18.9465 5.04938 17.9672C6.24727 17.0702 7.62681 16.6524 9.39076 16.6524C9.50026 16.6524 9.61126 16.6539 9.72405 16.6572C12.017 16.7221 13.4061 17.1974 14.5178 18.2979C15.421 19.1913 15.9462 20.4466 16.0364 21.9282L16.1007 22.9831H18.4869L18.4139 21.7924L18.413 21.7812C18.2231 19.6627 17.4625 17.9307 16.1524 16.6328C14.66 15.1541 12.5462 14.4043 9.6902 14.3406C9.59615 14.3384 9.50207 14.3372 9.40882 14.3372C6.94358 14.3372 4.78005 15.0583 3.15204 16.4224C1.47103 17.8308 0.582509 19.8068 0.582509 22.1368C0.582509 24.0549 1.16749 25.5593 2.37109 26.7356C3.46813 27.8081 5.11977 28.6458 7.56688 29.3717L11.1954 30.4644C12.7806 30.9478 14.5596 31.5377 15.6055 32.4218C16.613 33.2732 17.0241 34.2866 17.0241 35.9198C17.0241 39.4534 14.0731 41.8275 9.68115 41.8275C7.17462 41.8275 5.04354 41.1895 3.98025 40.1207C2.88929 39.0239 2.44419 37.8521 2.44419 36.0755V34.998H0V35.7469C0 36.6978 -0.000224258 39.5917 1.92906 41.5208C3.70787 43.2999 6.28623 44.2019 9.5919 44.2019C12.1652 44.2019 14.6136 43.5006 16.3097 42.278C18.3948 40.7752 19.4969 38.5765 19.4969 35.9195C19.4969 33.912 18.9739 32.4146 17.8517 31.2077C16.7519 30.0247 15.0603 29.1163 12.5293 28.3492Z" fill="#505256"/>
          <path d="M58.1299 16.8629H67.852V44.0012H70.5753V16.8629H80.2652V14.5307H58.1299V16.8629Z" fill="#505256"/>
          <path d="M90.7561 41.6691C89.7699 41.6691 88.9676 40.8743 88.9676 39.8972V14.5308H86.2441V39.9566C86.2441 42.1868 88.0757 44.0014 90.3269 44.0014H101.41V41.6691H90.7561Z" fill="#505256"/>
          <path d="M33.5277 38.6605L33.0347 40.1745L32.5415 38.6008L24.915 14.812L24.8248 14.5308H22.0596L31.6009 44.0014H34.4662L44.221 14.5308H41.4542L33.5277 38.6605Z" fill="#505256"/>
          <path d="M49.4834 44.0014H52.2073V14.5447H49.4834V44.0014Z" fill="#505256"/>
          <path d="M0.612144 62.5233C0.90874 62.5606 1.33695 62.5699 1.80918 62.5699C4.18114 62.5699 5.35602 61.4422 5.35602 59.6244C5.37803 58.0305 4.33485 56.9398 1.95184 56.9398C1.3808 56.9398 0.930669 56.9866 0.612144 57.0424V62.5233ZM0.0849609 56.707C0.656225 56.6231 1.28199 56.5671 1.98487 56.5671C3.3356 56.5671 4.35678 56.8747 4.97181 57.4248C5.56468 57.9467 5.89417 58.655 5.89417 59.6057C5.89417 60.5286 5.5978 61.3581 4.92774 61.9827C4.28003 62.5886 3.15975 62.9429 1.7322 62.9429C1.16126 62.9429 0.623108 62.9336 0.0849609 62.8961V56.707Z" fill="#505256"/>
          <path d="M18.359 59.7738H15.4048V62.5236H18.7102V62.8964H14.8779V56.6141H18.5347V56.9869H15.4048V59.4011H18.359V59.7738Z" fill="#505256"/>
          <path d="M29.371 62.8964L26.9111 56.6141H27.4603L28.767 59.979C29.1184 60.8924 29.426 61.6847 29.6346 62.3839H29.6675C29.887 61.6755 30.2275 60.8645 30.6119 59.979L32.0505 56.6141H32.6105L29.8651 62.8964H29.371Z" fill="#505256"/>
          <path d="M44.5574 59.7737H41.6034V62.5236H44.9088V62.8963H41.0762V56.614H44.7331V56.9868H41.6034V59.401H44.5574V59.7737Z" fill="#505256"/>
          <path d="M53.8809 56.614H54.4077V62.5236H57.7023V62.8963H53.8809V56.614Z" fill="#505256"/>
          <path d="M68.8476 62.6265C70.6047 62.6265 71.582 61.2751 71.582 59.7184C71.582 58.3947 70.7254 56.8847 68.8695 56.8847C66.9918 56.8847 66.1242 58.3387 66.1242 59.8024C66.1242 61.2189 67.0905 62.6265 68.8366 62.6265H68.8476ZM68.8147 62.9995C66.9918 62.9995 65.5752 61.7783 65.5752 59.8209C65.5752 57.7608 67.0466 56.5118 68.9026 56.5118C70.7694 56.5118 72.1311 57.7515 72.1311 59.6904C72.1311 61.9088 70.5278 62.9995 68.8257 62.9995H68.8147Z" fill="#505256"/>
          <path d="M81.6402 59.8206C81.8929 59.8951 82.2222 59.9136 82.5847 59.9136C83.9135 59.9136 84.704 59.3731 84.704 58.3758C84.704 57.3877 83.8585 56.9402 82.6835 56.9402C82.2002 56.9402 81.8379 56.9776 81.6402 57.0149V59.8206ZM81.1133 56.6886C81.5414 56.6234 82.0795 56.5674 82.7055 56.5674C83.584 56.5674 84.2538 56.7631 84.6602 57.0988C85.0224 57.3877 85.2312 57.8071 85.2312 58.3293C85.2312 58.8698 85.0554 59.2708 84.715 59.5875C84.2428 60.0441 83.4523 60.2866 82.5409 60.2866C82.2002 60.2866 81.9038 60.2773 81.6402 60.2121V62.8964H81.1133V56.6886Z" fill="#505256"/>
          <path d="M100.438 59.923C100.372 58.9815 100.284 57.8258 100.284 57.1359H100.262C99.9877 57.8166 99.6914 58.5435 99.2631 59.485L97.7038 62.8964H97.3413L95.8808 59.5595C95.4636 58.5808 95.1451 57.8258 94.9255 57.1359H94.9036C94.8815 57.8725 94.8267 58.9628 94.7389 60.007L94.508 62.8964H93.9922L94.5303 56.6141H95.1341L96.7265 60.24C97.0779 61.0324 97.3303 61.666 97.5391 62.272H97.5719C97.7586 61.6941 98.0222 61.0882 98.3957 60.24L100.054 56.6141H100.68L101.174 62.8964H100.658L100.438 59.923Z" fill="#505256"/>
          <path d="M113.901 59.7738H110.947V62.5237H114.252V62.8964H110.42V56.6141H114.077V56.9869H110.947V59.4011H113.901V59.7738Z" fill="#505256"/>
          <path d="M123.235 62.8964V56.6141H123.729L126.607 60.3237C127.211 61.1069 127.639 61.6941 128.001 62.2999L128.023 62.2908C127.946 61.4425 127.935 60.7247 127.935 59.746V56.6141H128.44V62.8964H127.957L125.135 59.2426C124.586 58.5248 124.081 57.863 123.697 57.2104L123.674 57.2199C123.729 57.9935 123.741 58.674 123.741 59.718V62.8964H123.235Z" fill="#505256"/>
          <path d="M139.321 56.9869H136.905V56.6141H142.264V56.9869H139.848V62.8964H139.321V56.9869Z" fill="#505256"/>
          <path d="M124.269 8.51282C124.026 8.51282 123.787 8.57677 123.577 8.69781L111.121 15.8918C110.199 16.4247 109.626 17.4132 109.626 18.4715V39.816C109.626 40.8326 110.46 41.6595 111.486 41.6595H138.098C139.124 41.6595 139.958 40.8326 139.958 39.816V18.601C139.958 17.5096 139.358 16.5061 138.391 15.9818L124.929 8.67984C124.727 8.57047 124.499 8.51282 124.269 8.51282ZM138.098 43.9982H111.486C109.158 43.9982 107.265 42.1222 107.265 39.816V18.4715C107.265 16.5843 108.287 14.8217 109.933 13.8713L122.388 6.67735C122.958 6.34797 123.609 6.17373 124.269 6.17373C124.894 6.17373 125.514 6.3311 126.062 6.62842L139.525 13.9303C141.248 14.8649 142.319 16.6545 142.319 18.601V39.816C142.319 42.1222 140.425 43.9982 138.098 43.9982Z" fill="#F58614"/>
        </svg>

    nav.header__nav.laptop-mode.header-block
      ul.nav__list 

        li.nav__item 
          a(href="/projects" data-text="Головна").nav__link 
            span Головна
        li.nav__item
          a(href="/projects" data-text="Про нас").nav__link.active 
            span Про нас

        li.nav__item 
          a(href="#about" data-text="Умови придбання").nav__link.anchor__smooth
            span Умови придбання
        li.nav__item 
          a(href="/contacts" data-text="Контакти").nav__link 
            span Контакти

    .contact-phone.header-block
      a(href="tel:+380442354492") 
        span.desktop-mode (044) 235 44 92
        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="42" viewBox="0 0 43 42" fill="none">
          <path d="M8.375 5.25C8.375 3.85761 8.92812 2.52226 9.91269 1.53769C10.8973 0.553123 12.2326 0 13.625 0L29.375 0C30.7674 0 32.1027 0.553123 33.0873 1.53769C34.0719 2.52226 34.625 3.85761 34.625 5.25V36.75C34.625 38.1424 34.0719 39.4777 33.0873 40.4623C32.1027 41.4469 30.7674 42 29.375 42H13.625C12.2326 42 10.8973 41.4469 9.91269 40.4623C8.92812 39.4777 8.375 38.1424 8.375 36.75V5.25ZM24.125 34.125C24.125 33.4288 23.8484 32.7611 23.3562 32.2688C22.8639 31.7766 22.1962 31.5 21.5 31.5C20.8038 31.5 20.1361 31.7766 19.6438 32.2688C19.1516 32.7611 18.875 33.4288 18.875 34.125C18.875 34.8212 19.1516 35.4889 19.6438 35.9812C20.1361 36.4734 20.8038 36.75 21.5 36.75C22.1962 36.75 22.8639 36.4734 23.3562 35.9812C23.8484 35.4889 24.125 34.8212 24.125 34.125Z" fill="#8D9BA4"/>
        </svg>
      //- button.contact-phone--laptop
      //-   <svg xmlns="http://www.w3.org/2000/svg" width="43" height="42" viewBox="0 0 43 42" fill="none">
      //-     <path d="M8.375 5.25C8.375 3.85761 8.92812 2.52226 9.91269 1.53769C10.8973 0.553123 12.2326 0 13.625 0L29.375 0C30.7674 0 32.1027 0.553123 33.0873 1.53769C34.0719 2.52226 34.625 3.85761 34.625 5.25V36.75C34.625 38.1424 34.0719 39.4777 33.0873 40.4623C32.1027 41.4469 30.7674 42 29.375 42H13.625C12.2326 42 10.8973 41.4469 9.91269 40.4623C8.92812 39.4777 8.375 38.1424 8.375 36.75V5.25ZM24.125 34.125C24.125 33.4288 23.8484 32.7611 23.3562 32.2688C22.8639 31.7766 22.1962 31.5 21.5 31.5C20.8038 31.5 20.1361 31.7766 19.6438 32.2688C19.1516 32.7611 18.875 33.4288 18.875 34.125C18.875 34.8212 19.1516 35.4889 19.6438 35.9812C20.1361 36.4734 20.8038 36.75 21.5 36.75C22.1962 36.75 22.8639 36.4734 23.3562 35.9812C23.8484 35.4889 24.125 34.8212 24.125 34.125Z" fill="#8D9BA4"/>
      //-   </svg>
    .language__wrap.header-block.tablet-mode     
      ul.language__list 
        li.language__item.active
          a(href="/en")
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
              <g clip-path="url(#clip0_802_261)">
                <path d="M21 41.5078C32.3477 41.5078 41.5078 32.3477 41.5078 21H0.492188C0.492188 32.3477 9.65234 41.5078 21 41.5078Z" fill="#FFE62E"/>
                <path d="M21 0.492188C9.65234 0.492188 0.492188 9.65234 0.492188 21H41.5078C41.5078 9.65234 32.3477 0.492188 21 0.492188Z" fill="#428BC1"/>
              </g>
              <defs>
                <clipPath id="clip0_802_261">
                  <rect width="42" height="42" fill="white"/>
                </clipPath>
              </defs>
            </svg>
        li.language__item
          a(href="/ua")
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_802_281)">
                <path d="M21 42C32.598 42 42 32.598 42 21C42 9.40202 32.598 0 21 0C9.40202 0 0 9.40202 0 21C0 32.598 9.40202 42 21 42Z" fill="#F0F0F0"/>
                <path d="M20.0874 21H42.0004C42.0004 19.1045 41.7478 17.2684 41.277 15.5217H20.0874V21Z" fill="#D80027"/>
                <path d="M20.0874 10.0435H38.9182C37.6327 7.94578 35.989 6.09162 34.0726 4.56519H20.0874V10.0435Z" fill="#D80027"/>
                <path d="M21.0004 42C25.9427 42 30.4853 40.2917 34.0726 37.4348H7.92822C11.5154 40.2917 16.0581 42 21.0004 42Z" fill="#D80027"/>
                <path d="M3.08244 31.9565H38.918C39.95 30.2725 40.7504 28.4317 41.2768 26.4782H0.723633C1.25003 28.4317 2.05041 30.2725 3.08244 31.9565Z" fill="#D80027"/>
                <path d="M9.72759 3.27945H11.6413L9.86122 4.57267L10.5412 6.6652L8.76118 5.37198L6.98119 6.6652L7.56853 4.85748C6.00124 6.16301 4.62755 7.69256 3.49552 9.39684H4.1087L2.9756 10.22C2.79907 10.5145 2.62976 10.8137 2.4675 11.1173L3.00858 12.7826L1.9991 12.0492C1.74817 12.5808 1.51864 13.1244 1.31234 13.6794L1.90846 15.5142H4.1087L2.32862 16.8075L3.00858 18.9L1.22858 17.6068L0.16234 18.3815C0.0556172 19.2394 0 20.1132 0 21H21C21 9.40209 21 8.0348 21 0C16.8515 0 12.9843 1.2034 9.72759 3.27945ZM10.5412 18.9L8.76118 17.6068L6.98119 18.9L7.66114 16.8075L5.88107 15.5142H8.08131L8.76118 13.4217L9.44106 15.5142H11.6413L9.86122 16.8075L10.5412 18.9ZM9.86122 10.6901L10.5412 12.7826L8.76118 11.4894L6.98119 12.7826L7.66114 10.6901L5.88107 9.39684H8.08131L8.76118 7.30431L9.44106 9.39684H11.6413L9.86122 10.6901ZM18.0738 18.9L16.2938 17.6068L14.5138 18.9L15.1937 16.8075L13.4137 15.5142H15.6139L16.2938 13.4217L16.9737 15.5142H19.1739L17.3938 16.8075L18.0738 18.9ZM17.3938 10.6901L18.0738 12.7826L16.2938 11.4894L14.5138 12.7826L15.1937 10.6901L13.4137 9.39684H15.6139L16.2938 7.30431L16.9737 9.39684H19.1739L17.3938 10.6901ZM17.3938 4.57267L18.0738 6.6652L16.2938 5.37198L14.5138 6.6652L15.1937 4.57267L13.4137 3.27945H15.6139L16.2938 1.18691L16.9737 3.27945H19.1739L17.3938 4.57267Z" fill="#0052B4"/>
              </g>
              <defs>
                <clipPath id="clip0_802_281">
                  <rect width="42" height="42" fill="white"/>
                </clipPath>
              </defs>
            </svg>
    ul.socials__list.desktop-mode.header-block
      li.socials__item
        a.socials__link(href="/")
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 0H2C0.897 0 0 0.897 0 2V14C0 15.103 0.897 16 2 16H8V10.5H6V8H8V6C8 5.20435 8.31607 4.44129 8.87868 3.87868C9.44129 3.31607 10.2044 3 11 3H13V5.5H12C11.448 5.5 11 5.448 11 6V8H13.5L12.5 10.5H11V16H14C15.103 16 16 15.103 16 14V2C16 0.897 15.103 0 14 0Z" fill="#8D9BA4"/>
          </svg>
      li.socials__item
        a.socials__link(href="/")
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M8 1.44578C10.1205 1.44578 10.4096 1.44578 11.2771 1.44578C12.0482 1.44578 12.4337 1.63855 12.7229 1.73494C13.1084 1.92771 13.3976 2.0241 13.6867 2.31325C13.9759 2.60241 14.1687 2.89157 14.2651 3.27711C14.3614 3.56627 14.4578 3.95181 14.5542 4.72289C14.5542 5.59036 14.5542 5.78313 14.5542 8C14.5542 10.2169 14.5542 10.4096 14.5542 11.2771C14.5542 12.0482 14.3614 12.4337 14.2651 12.7229C14.0723 13.1084 13.9759 13.3976 13.6867 13.6867C13.3976 13.9759 13.1084 14.1687 12.7229 14.2651C12.4337 14.3614 12.0482 14.4578 11.2771 14.5542C10.4096 14.5542 10.2169 14.5542 8 14.5542C5.78313 14.5542 5.59036 14.5542 4.72289 14.5542C3.95181 14.5542 3.56627 14.3614 3.27711 14.2651C2.89157 14.0723 2.60241 13.9759 2.31325 13.6867C2.0241 13.3976 1.83133 13.1084 1.73494 12.7229C1.63855 12.4337 1.54217 12.0482 1.44578 11.2771C1.44578 10.4096 1.44578 10.2169 1.44578 8C1.44578 5.78313 1.44578 5.59036 1.44578 4.72289C1.44578 3.95181 1.63855 3.56627 1.73494 3.27711C1.92771 2.89157 2.0241 2.60241 2.31325 2.31325C2.60241 2.0241 2.89157 1.83133 3.27711 1.73494C3.56627 1.63855 3.95181 1.54217 4.72289 1.44578C5.59036 1.44578 5.87952 1.44578 8 1.44578ZM8 0C5.78313 0 5.59036 0 4.72289 0C3.85542 0 3.27711 0.192772 2.79518 0.385543C2.31325 0.578314 1.83133 0.867471 1.3494 1.3494C0.867471 1.83133 0.674699 2.21687 0.385543 2.79518C0.192772 3.27711 0.0963856 3.85542 0 4.72289C0 5.59036 0 5.87952 0 8C0 10.2169 0 10.4096 0 11.2771C0 12.1446 0.192772 12.7229 0.385543 13.2048C0.578314 13.6867 0.867471 14.1687 1.3494 14.6506C1.83133 15.1325 2.21687 15.3253 2.79518 15.6145C3.27711 15.8072 3.85542 15.9036 4.72289 16C5.59036 16 5.87952 16 8 16C10.1205 16 10.4096 16 11.2771 16C12.1446 16 12.7229 15.8072 13.2048 15.6145C13.6867 15.4217 14.1687 15.1325 14.6506 14.6506C15.1325 14.1687 15.3253 13.7831 15.6145 13.2048C15.8072 12.7229 15.9036 12.1446 16 11.2771C16 10.4096 16 10.1205 16 8C16 5.87952 16 5.59036 16 4.72289C16 3.85542 15.8072 3.27711 15.6145 2.79518C15.4217 2.31325 15.1325 1.83133 14.6506 1.3494C14.1687 0.867471 13.7831 0.674699 13.2048 0.385543C12.7229 0.192772 12.1446 0.0963856 11.2771 0C10.4096 0 10.2169 0 8 0Z" fill="#8D9BA4"/>
            <path d="M8 3.85542C5.68675 3.85542 3.85542 5.68675 3.85542 8C3.85542 10.3133 5.68675 12.1446 8 12.1446C10.3133 12.1446 12.1446 10.3133 12.1446 8C12.1446 5.68675 10.3133 3.85542 8 3.85542ZM8 10.6988C6.55422 10.6988 5.30121 9.54217 5.30121 8C5.30121 6.55422 6.45783 5.30121 8 5.30121C9.44578 5.30121 10.6988 6.45783 10.6988 8C10.6988 9.44578 9.44578 10.6988 8 10.6988Z" fill="#8D9BA4"/>
            <path d="M12.241 4.72289C12.7733 4.72289 13.2048 4.29136 13.2048 3.75904C13.2048 3.22671 12.7733 2.79518 12.241 2.79518C11.7086 2.79518 11.2771 3.22671 11.2771 3.75904C11.2771 4.29136 11.7086 4.72289 12.241 4.72289Z" fill="#8D9BA4"/>
          </svg>
      li.socials__item
        a.socials__link(href="/")
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none">
            <path d="M21.45 2.42857C21.175 1.42857 20.4875 0.714286 19.525 0.428572C17.875 2.55448e-07 10.8625 0 10.8625 0C10.8625 0 3.98751 2.55448e-07 2.20001 0.428572C1.23751 0.714286 0.549996 1.42857 0.274996 2.42857C-4.20026e-06 4.28572 0 8 0 8C0 8 4.17978e-06 11.7143 0.412504 13.5714C0.687504 14.5714 1.375 15.2857 2.3375 15.5714C3.9875 16 11 16 11 16C11 16 17.875 16 19.6625 15.5714C20.625 15.2857 21.3125 14.5714 21.5875 13.5714C22 11.7143 22 8 22 8C22 8 22 4.28572 21.45 2.42857ZM8.79999 11.4286V4.57143L14.575 8L8.79999 11.4286Z" fill="#8D9BA4"/>
          </svg>
      li.socials__item
        a.socials__link(href="/")
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 16 14" fill="none">
            <path d="M14.2217 0.860303C14.2217 0.860303 15.6092 0.319227 15.4931 1.63317C15.4549 2.17424 15.1081 4.06819 14.8381 6.11642L13.9131 12.1843C13.9131 12.1843 13.8359 13.0733 13.142 13.2279C12.4484 13.3822 11.4077 12.6868 11.2148 12.5322C11.0606 12.4161 8.32411 10.6768 7.36053 9.82682C7.09052 9.59467 6.78195 9.1311 7.3991 8.59002L11.4463 4.72498C11.9088 4.26069 12.3713 3.17854 10.4441 4.49284L5.04765 8.1643C5.04765 8.1643 4.43086 8.55109 3.27477 8.20323L0.769036 7.43001C0.769036 7.43001 -0.155973 6.85036 1.4244 6.27071C5.27908 4.45427 10.0202 2.59925 14.2213 0.859946" fill="white"/>
          </svg>

    .header__btn-menu-wrap
      button.call-back.tablet-mode(data-call-us-btn type="button").header-block
        span Записатися на перегляд
      button.menu-btn(type="button" data-menu-button).header-block
        .menu-btn__burger
          span.square-over 
          span.square-middle
          span.square-under
        p.menu-btn__text Meню

      //- .call-btn--mobile(data-mobile-callback-popup-call)
      //-   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
      //-     <path d="M18.9994 14.4765V17.1862C19.0005 17.4377 18.9488 17.6867 18.8479 17.9172C18.7469 18.1477 18.5988 18.3546 18.413 18.5247C18.2273 18.6947 18.008 18.8242 17.7693 18.9048C17.5305 18.9854 17.2775 19.0153 17.0265 18.9927C14.2415 18.6907 11.5664 17.7409 9.21601 16.2197C7.02929 14.8329 5.17534 12.9827 3.7858 10.8003C2.25627 8.44389 1.30442 5.76107 1.00735 2.96915C0.98473 2.71938 1.01447 2.46764 1.09468 2.22996C1.17489 1.99229 1.30381 1.77389 1.47323 1.58866C1.64265 1.40343 1.84885 1.25544 2.07872 1.15411C2.30858 1.05278 2.55707 1.00032 2.80837 1.00009H5.52347C5.96269 0.995773 6.3885 1.151 6.72152 1.43683C7.05455 1.72267 7.27207 2.11961 7.33354 2.55366C7.44814 3.42084 7.66067 4.27229 7.96707 5.09177C8.08883 5.41507 8.11519 5.76642 8.043 6.1042C7.97082 6.44198 7.80313 6.75203 7.5598 6.99761L6.41041 8.14473C7.69877 10.406 9.57482 12.2784 11.8406 13.5642L12.99 12.4171C13.2361 12.1742 13.5467 12.0069 13.8852 11.9348C14.2236 11.8628 14.5757 11.8891 14.8996 12.0106C15.7207 12.3164 16.5739 12.5285 17.4428 12.6429C17.8824 12.7048 18.2839 12.9258 18.5709 13.2639C18.858 13.6019 19.0105 14.0335 18.9994 14.4765Z" stroke="#00263A" stroke-width="1.71429" stroke-linecap="round"/>
      //-   </svg>



      //- button.menu-btn(type="button" data-menu-button)
      //-   span.menu-btn__text--tablet Meню
      //-   .menu-btn__burger
      //-     span.line-over 
      //-     span.line-under


  .overflow.hidden(data-call-us__overflow)
    .modal-form(data-call-us-modal) 
      .close-btn(data-call-us-modal-close)
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M15 15L1 1M1 15L15 1L1 15Z" stroke="#0A0D18" stroke-width="2"/>
        </svg>
      h3 Записатися на перегляд
      //- p.form__descr Якщо у вас виникли питання або потрібна консультація, наші менеджери з радістю допоможуть вам!
      +form

  .menu__container.hidden(data-menu)
    .menu__bg.container(data-lenis-prevent)
      .decor
      nav
        ul.nav__list 
          li.nav__item 
            a(href="/projects" data-text="Головна").nav__link 
              span Головна
          li.nav__item
            a(href="/projects" data-text="Про нас").nav__link.active 
              span Про нас

          li.nav__item 
            a(href="#about" data-text="Умови придбання").nav__link.anchor__smooth
              span Умови придбання
          li.nav__item 
            a(href="/contacts" data-text="Контакти").nav__link 
              span Контакти
      .menu__right-block
        .align-block
          .contact-lang-wrap 
            .contact-wrap
              h3.footer__block-title Телефон
              a(href="tel:+380976311133") +380 (97) 63 111 33
            ul.language__list 
              li.language__item.active
                a(href="/en")
                  <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
                    <g clip-path="url(#clip0_802_261)">
                      <path d="M21 41.5078C32.3477 41.5078 41.5078 32.3477 41.5078 21H0.492188C0.492188 32.3477 9.65234 41.5078 21 41.5078Z" fill="#FFE62E"/>
                      <path d="M21 0.492188C9.65234 0.492188 0.492188 9.65234 0.492188 21H41.5078C41.5078 9.65234 32.3477 0.492188 21 0.492188Z" fill="#428BC1"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_802_261">
                        <rect width="42" height="42" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
              li.language__item
                a(href="/ua")
                  <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_802_281)">
                      <path d="M21 42C32.598 42 42 32.598 42 21C42 9.40202 32.598 0 21 0C9.40202 0 0 9.40202 0 21C0 32.598 9.40202 42 21 42Z" fill="#F0F0F0"/>
                      <path d="M20.0874 21H42.0004C42.0004 19.1045 41.7478 17.2684 41.277 15.5217H20.0874V21Z" fill="#D80027"/>
                      <path d="M20.0874 10.0435H38.9182C37.6327 7.94578 35.989 6.09162 34.0726 4.56519H20.0874V10.0435Z" fill="#D80027"/>
                      <path d="M21.0004 42C25.9427 42 30.4853 40.2917 34.0726 37.4348H7.92822C11.5154 40.2917 16.0581 42 21.0004 42Z" fill="#D80027"/>
                      <path d="M3.08244 31.9565H38.918C39.95 30.2725 40.7504 28.4317 41.2768 26.4782H0.723633C1.25003 28.4317 2.05041 30.2725 3.08244 31.9565Z" fill="#D80027"/>
                      <path d="M9.72759 3.27945H11.6413L9.86122 4.57267L10.5412 6.6652L8.76118 5.37198L6.98119 6.6652L7.56853 4.85748C6.00124 6.16301 4.62755 7.69256 3.49552 9.39684H4.1087L2.9756 10.22C2.79907 10.5145 2.62976 10.8137 2.4675 11.1173L3.00858 12.7826L1.9991 12.0492C1.74817 12.5808 1.51864 13.1244 1.31234 13.6794L1.90846 15.5142H4.1087L2.32862 16.8075L3.00858 18.9L1.22858 17.6068L0.16234 18.3815C0.0556172 19.2394 0 20.1132 0 21H21C21 9.40209 21 8.0348 21 0C16.8515 0 12.9843 1.2034 9.72759 3.27945ZM10.5412 18.9L8.76118 17.6068L6.98119 18.9L7.66114 16.8075L5.88107 15.5142H8.08131L8.76118 13.4217L9.44106 15.5142H11.6413L9.86122 16.8075L10.5412 18.9ZM9.86122 10.6901L10.5412 12.7826L8.76118 11.4894L6.98119 12.7826L7.66114 10.6901L5.88107 9.39684H8.08131L8.76118 7.30431L9.44106 9.39684H11.6413L9.86122 10.6901ZM18.0738 18.9L16.2938 17.6068L14.5138 18.9L15.1937 16.8075L13.4137 15.5142H15.6139L16.2938 13.4217L16.9737 15.5142H19.1739L17.3938 16.8075L18.0738 18.9ZM17.3938 10.6901L18.0738 12.7826L16.2938 11.4894L14.5138 12.7826L15.1937 10.6901L13.4137 9.39684H15.6139L16.2938 7.30431L16.9737 9.39684H19.1739L17.3938 10.6901ZM17.3938 4.57267L18.0738 6.6652L16.2938 5.37198L14.5138 6.6652L15.1937 4.57267L13.4137 3.27945H15.6139L16.2938 1.18691L16.9737 3.27945H19.1739L17.3938 4.57267Z" fill="#0052B4"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_802_281">
                        <rect width="42" height="42" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
          h3.footer__block-title соцмережі
          ul.socials__list
            li.socials__item
              a.socials__link(href="/")
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M14 0H2C0.897 0 0 0.897 0 2V14C0 15.103 0.897 16 2 16H8V10.5H6V8H8V6C8 5.20435 8.31607 4.44129 8.87868 3.87868C9.44129 3.31607 10.2044 3 11 3H13V5.5H12C11.448 5.5 11 5.448 11 6V8H13.5L12.5 10.5H11V16H14C15.103 16 16 15.103 16 14V2C16 0.897 15.103 0 14 0Z" fill="#8D9BA4"/>
                </svg>
            li.socials__item
              a.socials__link(href="/")
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M8 1.44578C10.1205 1.44578 10.4096 1.44578 11.2771 1.44578C12.0482 1.44578 12.4337 1.63855 12.7229 1.73494C13.1084 1.92771 13.3976 2.0241 13.6867 2.31325C13.9759 2.60241 14.1687 2.89157 14.2651 3.27711C14.3614 3.56627 14.4578 3.95181 14.5542 4.72289C14.5542 5.59036 14.5542 5.78313 14.5542 8C14.5542 10.2169 14.5542 10.4096 14.5542 11.2771C14.5542 12.0482 14.3614 12.4337 14.2651 12.7229C14.0723 13.1084 13.9759 13.3976 13.6867 13.6867C13.3976 13.9759 13.1084 14.1687 12.7229 14.2651C12.4337 14.3614 12.0482 14.4578 11.2771 14.5542C10.4096 14.5542 10.2169 14.5542 8 14.5542C5.78313 14.5542 5.59036 14.5542 4.72289 14.5542C3.95181 14.5542 3.56627 14.3614 3.27711 14.2651C2.89157 14.0723 2.60241 13.9759 2.31325 13.6867C2.0241 13.3976 1.83133 13.1084 1.73494 12.7229C1.63855 12.4337 1.54217 12.0482 1.44578 11.2771C1.44578 10.4096 1.44578 10.2169 1.44578 8C1.44578 5.78313 1.44578 5.59036 1.44578 4.72289C1.44578 3.95181 1.63855 3.56627 1.73494 3.27711C1.92771 2.89157 2.0241 2.60241 2.31325 2.31325C2.60241 2.0241 2.89157 1.83133 3.27711 1.73494C3.56627 1.63855 3.95181 1.54217 4.72289 1.44578C5.59036 1.44578 5.87952 1.44578 8 1.44578ZM8 0C5.78313 0 5.59036 0 4.72289 0C3.85542 0 3.27711 0.192772 2.79518 0.385543C2.31325 0.578314 1.83133 0.867471 1.3494 1.3494C0.867471 1.83133 0.674699 2.21687 0.385543 2.79518C0.192772 3.27711 0.0963856 3.85542 0 4.72289C0 5.59036 0 5.87952 0 8C0 10.2169 0 10.4096 0 11.2771C0 12.1446 0.192772 12.7229 0.385543 13.2048C0.578314 13.6867 0.867471 14.1687 1.3494 14.6506C1.83133 15.1325 2.21687 15.3253 2.79518 15.6145C3.27711 15.8072 3.85542 15.9036 4.72289 16C5.59036 16 5.87952 16 8 16C10.1205 16 10.4096 16 11.2771 16C12.1446 16 12.7229 15.8072 13.2048 15.6145C13.6867 15.4217 14.1687 15.1325 14.6506 14.6506C15.1325 14.1687 15.3253 13.7831 15.6145 13.2048C15.8072 12.7229 15.9036 12.1446 16 11.2771C16 10.4096 16 10.1205 16 8C16 5.87952 16 5.59036 16 4.72289C16 3.85542 15.8072 3.27711 15.6145 2.79518C15.4217 2.31325 15.1325 1.83133 14.6506 1.3494C14.1687 0.867471 13.7831 0.674699 13.2048 0.385543C12.7229 0.192772 12.1446 0.0963856 11.2771 0C10.4096 0 10.2169 0 8 0Z" fill="#8D9BA4"/>
                  <path d="M8 3.85542C5.68675 3.85542 3.85542 5.68675 3.85542 8C3.85542 10.3133 5.68675 12.1446 8 12.1446C10.3133 12.1446 12.1446 10.3133 12.1446 8C12.1446 5.68675 10.3133 3.85542 8 3.85542ZM8 10.6988C6.55422 10.6988 5.30121 9.54217 5.30121 8C5.30121 6.55422 6.45783 5.30121 8 5.30121C9.44578 5.30121 10.6988 6.45783 10.6988 8C10.6988 9.44578 9.44578 10.6988 8 10.6988Z" fill="#8D9BA4"/>
                  <path d="M12.241 4.72289C12.7733 4.72289 13.2048 4.29136 13.2048 3.75904C13.2048 3.22671 12.7733 2.79518 12.241 2.79518C11.7086 2.79518 11.2771 3.22671 11.2771 3.75904C11.2771 4.29136 11.7086 4.72289 12.241 4.72289Z" fill="#8D9BA4"/>
                </svg>
            li.socials__item
              a.socials__link(href="/")
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none">
                  <path d="M21.45 2.42857C21.175 1.42857 20.4875 0.714286 19.525 0.428572C17.875 2.55448e-07 10.8625 0 10.8625 0C10.8625 0 3.98751 2.55448e-07 2.20001 0.428572C1.23751 0.714286 0.549996 1.42857 0.274996 2.42857C-4.20026e-06 4.28572 0 8 0 8C0 8 4.17978e-06 11.7143 0.412504 13.5714C0.687504 14.5714 1.375 15.2857 2.3375 15.5714C3.9875 16 11 16 11 16C11 16 17.875 16 19.6625 15.5714C20.625 15.2857 21.3125 14.5714 21.5875 13.5714C22 11.7143 22 8 22 8C22 8 22 4.28572 21.45 2.42857ZM8.79999 11.4286V4.57143L14.575 8L8.79999 11.4286Z" fill="#8D9BA4"/>
                </svg>
            li.socials__item
              a.socials__link(href="/")
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 16 14" fill="none">
                  <path d="M14.2217 0.860303C14.2217 0.860303 15.6092 0.319227 15.4931 1.63317C15.4549 2.17424 15.1081 4.06819 14.8381 6.11642L13.9131 12.1843C13.9131 12.1843 13.8359 13.0733 13.142 13.2279C12.4484 13.3822 11.4077 12.6868 11.2148 12.5322C11.0606 12.4161 8.32411 10.6768 7.36053 9.82682C7.09052 9.59467 6.78195 9.1311 7.3991 8.59002L11.4463 4.72498C11.9088 4.26069 12.3713 3.17854 10.4441 4.49284L5.04765 8.1643C5.04765 8.1643 4.43086 8.55109 3.27477 8.20323L0.769036 7.43001C0.769036 7.43001 -0.155973 6.85036 1.4244 6.27071C5.27908 4.45427 10.0202 2.59925 14.2213 0.859946" fill="white"/>
                </svg>
          button.call-back(data-call-us-btn type="button").header-block
            span Записатися на перегляд


  //- <div class="mobile-callback-popup" data-mobile-callback-popup> 
  //-   <a class="mobile-callback-popup__tel" href="tel:+380442354492">Виклик +38 (044) 235 44 92</a>
  //-   <div class="mobile-callback-popup__callback" data-call-us-btn data-mobile-callback-close>Зворотній дзвінок</div>
  //-   <div class="mobile-callback-popup__close" data-mobile-callback-close>
  //-     <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
  //-       <path d="M17.5 17L1.5 1M1.5 17L17.5 1L1.5 17Z" stroke="#111111" stroke-width="2"/>
  //-     </svg>
  //-     | Відмінити
  //-   </div>
  //- </div>



