.thank-you-popup.overlay

  .thank-you-popup__text 
    <svg xmlns="http://www.w3.org/2000/svg" width="102" height="87" viewBox="0 0 102 87" fill="none">
      <path d="M34.0905 79.0927C39.4544 81.9075 45.5604 83.5 52.0384 83.5C73.4005 83.5 90.7179 66.1826 90.7179 44.8205C90.7179 23.4584 73.4005 6.14099 52.0384 6.14099C30.6763 6.14099 13.3589 23.4584 13.3589 44.8205C13.3589 54.3311 16.7914 63.04 22.4851 69.7759L18.8917 81.5625L18.0513 84.3189L20.7912 83.4262L34.0905 79.0927Z" stroke="#0BB11C" stroke-width="3"/>
      <path d="M49.2179 34.8205C49.2179 30.9101 45.9488 27.641 42.0384 27.641C38.1279 27.641 34.8589 30.91 34.8589 34.8205" stroke="#0BB11C" stroke-width="3"/>
      <path d="M75.8847 34.8205C75.8847 30.9101 72.7324 27.641 68.9617 27.641C65.1909 27.641 62.0386 30.91 62.0386 34.8205" stroke="#0BB11C" stroke-width="3"/>
      <path d="M63.5767 50.2053C63.5767 54.1157 60.3077 57.3848 56.3973 57.3848C52.4868 57.3848 49.2178 54.1157 49.2178 50.2053" stroke="#0BB11C" stroke-width="3"/>
      <rect x="0.5" y="35.3335" width="55.8974" height="12.3077" rx="6.15385" fill="#0BB11C" fill-opacity="0.13"/>
      <rect x="44.6025" y="47.641" width="55.8974" height="12.3077" rx="6.15385" fill="#0BB11C" fill-opacity="0.13"/>
      <rect x="24.0898" y="59.9487" width="55.8974" height="11.7949" rx="5.89744" fill="#0BB11C" fill-opacity="0.13"/>
      <path d="M12.7271 13.1678L15.105 15.5458L20.5087 10.1421" stroke="#0BB11C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M92.6397 25.3949L95.0176 27.7728L100.421 22.3692" stroke="#0BB11C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <circle cx="85.8845" cy="4.82051" r="3.57051" stroke="#0BB11C" stroke-width="1.5"/>
      <circle cx="9.98702" cy="74.5642" r="3.57051" stroke="#0BB11C" stroke-width="1.5"/>
      <circle cx="95.6281" cy="74.5642" r="3.57051" stroke="#0BB11C" stroke-width="1.5"/>
    </svg>
    h2.thank-you-popup__title Повідомлення надіслано
    p.thank-you-popup__descr Дякуємо за звернення. Очікуйте дзвінка наших менеджерів. Бажаємо гарного дня та гарного настрою =)
    button.thank-you-popup__btn.call-us__btn
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M15 15L1 1M1 15L15 1L1 15Z" stroke="#0A0D18" stroke-width="2"/>
      </svg>

  //- .close-popup
