
extends ../layout/main
block variable
  -
    var title_page = 'about'
    var id_page = 'id-page-about'
    var class_page = 'class-page-about'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/about.bundle.js')
block content
  section.sp-hero.about-hero
    .sp-hero-mask
      img(src="./assets/images/single-project/hero.jpg" alt="current project") 
    .sp-hero__btns-wrap
      a.page-nav-btn(href="/")
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5303 19.5303C10.2374 19.8232 9.76256 19.8232 9.46967 19.5303L0.469671 10.5303C0.176778 10.2374 0.176778 9.76256 0.469671 9.46967L9.46967 0.469669C9.76256 0.176777 10.2374 0.176777 10.5303 0.469669C10.8232 0.762564 10.8232 1.23744 10.5303 1.53033L2.06066 10L10.5303 18.4697C10.8232 18.7626 10.8232 19.2374 10.5303 19.5303Z" fill="white"/>
        </svg>
      //- a.page-nav-btn.right(href="/")
      //-   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="22" viewBox="0 0 16 22" fill="none">
      //-     <path fill-rule="evenodd" clip-rule="evenodd" d="M8 1.77197C5.15729 1.77197 2.25 4.2017 2.25 7.91852C2.25 10.7004 3.38582 13.4096 4.72797 15.6293C5.93645 17.628 7.27928 19.176 8 19.9473C8.72072 19.176 10.0636 17.628 11.272 15.6293C12.6142 13.4096 13.75 10.7004 13.75 7.91852C13.75 4.2017 10.8427 1.77197 8 1.77197ZM0.75 7.91852C0.75 3.35949 4.34271 0.271973 8 0.271973C11.6573 0.271973 15.25 3.35949 15.25 7.91852C15.25 11.0882 13.9655 14.0737 12.5556 16.4054C11.1405 18.7459 9.55812 20.4948 8.87312 21.2066C8.39281 21.7057 7.60719 21.7057 7.12688 21.2066C6.44188 20.4948 4.8595 18.7459 3.44436 16.4054C2.03452 14.0737 0.75 11.0882 0.75 7.91852Z" fill="white"/>
      //-     <path fill-rule="evenodd" clip-rule="evenodd" d="M8 6.25C7.0335 6.25 6.25 7.0335 6.25 8C6.25 8.9665 7.0335 9.75 8 9.75C8.9665 9.75 9.75 8.9665 9.75 8C9.75 7.0335 8.9665 6.25 8 6.25ZM4.75 8C4.75 6.20507 6.20507 4.75 8 4.75C9.79493 4.75 11.25 6.20507 11.25 8C11.25 9.79493 9.79493 11.25 8 11.25C6.20507 11.25 4.75 9.79493 4.75 8Z" fill="white"/>
      //-   </svg>
    .sp-hero__content 
      h1 Привіт!
      h2 Давайте знайомитись
      p Ніяких здорожчань. Ні явних ні прихованих.
      button.accent-btn(data-call-us-btn) 
        span Записатися на перегляд
  section.about-advantages 
    .about-advantages__text-block
      .text-block__padding
        h2.section-title Об’єднані світлом
        p Ми створюємо не просто обʼєкти, а будинки, наповнені любовʼю та сучасною архітектурою, що обʼєднують довкола людей, близьких по духу.
        p.italic P.S. Але найбільше задоволення приносить увімкнене світло у вікнах наших будинках
        .profile-wrap 
          img(src="./assets/images/about/avatar.jpg" alt="avatar")
          .profile-info 
            h3 Сергій Крикун
            p СЕО & Creator
      img(src="./assets/images/about/img.png" alt="street across townhouses")
    .swiper-achievements
      .swiper-wrapper 
        .swiper-slide
          .title-wrap
            h3 На ринку
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <g clip-path="url(#clip0_233_10609)">
                <path d="M20.25 10.543V14.9759C20.25 16.7373 20.2493 18.0091 20.1694 18.9434C20.0872 19.9043 19.9299 20.3325 19.7561 20.5419C19.3463 21.0359 18.7497 21.2891 18.1485 21.2451C17.9082 21.2275 17.5235 21.056 16.817 20.4374C16.1325 19.838 15.276 18.9414 14.0868 17.695L14.0667 17.6739C13.8115 17.4064 13.5889 17.1731 13.3899 16.9964C13.1797 16.8098 12.9443 16.6381 12.6496 16.5398C12.2273 16.3988 11.7727 16.3988 11.3504 16.5398C11.0557 16.6381 10.8203 16.8098 10.6101 16.9964C10.4111 17.1732 10.1885 17.4065 9.93321 17.674L9.91321 17.695C8.72404 18.9414 7.86753 19.838 7.18302 20.4374C6.47648 21.056 6.09176 21.2275 5.85149 21.2451C5.25028 21.2891 4.65369 21.0359 4.24387 20.5419C4.07014 20.3325 3.91281 19.9043 3.8306 18.9434C3.75067 18.0091 3.75 16.7373 3.75 14.9759V10.543C3.75 8.50914 3.75145 7.05578 3.89311 5.95143C4.03245 4.86518 4.29567 4.23067 4.73631 3.76883C5.17223 3.31194 5.76368 3.04278 6.78369 2.89905C7.82904 2.75175 9.20755 2.75 11.1509 2.75H12.8491C14.7924 2.75 16.171 2.75175 17.2163 2.89905C18.2363 3.04278 18.8278 3.31194 19.2637 3.76883C19.7043 4.23067 19.9675 4.86518 20.1069 5.95143C20.2485 7.05578 20.25 8.50914 20.25 10.543Z" stroke="white" stroke-width="1.5"/>
                <path d="M9 9L11 11L15 7" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_233_10609">
                  <rect width="24" height="24" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          p 6 років

        .swiper-slide
          .title-wrap
            h3 Проектів
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.03571 2.79204C9.28765 2.54017 9.62932 2.39868 9.98557 2.39868C10.3418 2.39868 10.6835 2.54017 10.9354 2.79204L11.8047 3.65994C11.9308 3.78608 12.0017 3.95716 12.0017 4.13554C12.0017 4.31393 11.9308 4.48501 11.8047 4.61114C11.6785 4.73728 11.5075 4.80814 11.3291 4.80814C11.1507 4.80814 10.9796 4.73728 10.8535 4.61114L9.98557 3.7419L3.93981 9.78766V18.2423C3.93981 18.4205 4.01058 18.5913 4.13656 18.7173C4.26253 18.8433 4.4334 18.9141 4.61156 18.9141C4.78972 18.9141 4.96058 18.9848 5.08656 19.1108C5.21253 19.2368 5.28331 19.4077 5.28331 19.5858C5.28331 19.764 5.21253 19.9348 5.08656 20.0608C4.96058 20.1868 4.78972 20.2576 4.61156 20.2576C4.07708 20.2576 3.56449 20.0452 3.18656 19.6673C2.80862 19.2894 2.5963 18.7768 2.5963 18.2423V11.1312L2.40015 11.3287C2.27402 11.4548 2.10294 11.5257 1.92455 11.5257C1.74617 11.5257 1.57509 11.4548 1.44895 11.3287C1.32282 11.2025 1.25195 11.0314 1.25195 10.8531C1.25195 10.6747 1.32282 10.5036 1.44895 10.3775L9.03571 2.79204ZM13.0662 4.13554C13.3182 3.88368 13.6598 3.74218 14.0161 3.74218C14.3723 3.74218 14.714 3.88368 14.9659 4.13554L17.3748 6.54444V4.80729C17.3748 4.62913 17.4456 4.45827 17.5716 4.33229C17.6976 4.20632 17.8684 4.13554 18.0466 4.13554H19.3901C19.5682 4.13554 19.7391 4.20632 19.8651 4.33229C19.9911 4.45827 20.0618 4.62913 20.0618 4.80729V9.23145L22.5527 11.721C22.6788 11.8471 22.7497 12.0182 22.7497 12.1966C22.7497 12.3749 22.6788 12.546 22.5527 12.6722C22.4265 12.7983 22.2555 12.8692 22.0771 12.8692C21.8987 12.8692 21.7276 12.7983 21.6015 12.6722L21.4053 12.4747V19.5858C21.4053 20.1203 21.193 20.6329 20.8151 21.0108C20.4371 21.3887 19.9246 21.6011 19.3901 21.6011H8.64206C8.10758 21.6011 7.595 21.3887 7.21706 21.0108C6.83913 20.6329 6.62681 20.1203 6.62681 19.5858V12.4747L6.43066 12.6722C6.3682 12.7346 6.29405 12.7842 6.21245 12.818C6.13085 12.8518 6.04339 12.8692 5.95506 12.8692C5.86673 12.8692 5.77927 12.8518 5.69767 12.818C5.61606 12.7842 5.54192 12.7346 5.47946 12.6722C5.417 12.6097 5.36746 12.5356 5.33366 12.4539C5.29986 12.3723 5.28246 12.2849 5.28246 12.1966C5.28246 12.1082 5.29986 12.0208 5.33366 11.9392C5.36746 11.8576 5.417 11.7834 5.47946 11.721L13.0662 4.13554ZM14.0161 5.0854L7.97031 11.1312V19.5858C7.97031 19.764 8.04109 19.9348 8.16706 20.0608C8.29304 20.1868 8.4639 20.2576 8.64206 20.2576H19.3901C19.5682 20.2576 19.7391 20.1868 19.8651 20.0608C19.9911 19.9348 20.0618 19.764 20.0618 19.5858V11.1312L14.0161 5.0854Z" fill="white"/>
            </svg>
          p 8

        .swiper-slide
          .title-wrap
            h3 Щасливих сімей
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 7.75C7 8.99264 8.00736 10 9.25 10V11.5C7.17893 11.5 5.5 9.82107 5.5 7.75H7ZM9.25 10C10.4926 10 11.5 8.99264 11.5 7.75H13C13 9.82107 11.3211 11.5 9.25 11.5V10ZM11.5 7.75C11.5 6.50736 10.4926 5.5 9.25 5.5V4C11.3211 4 13 5.67893 13 7.75H11.5ZM9.25 5.5C8.00736 5.5 7 6.50736 7 7.75H5.5C5.5 5.67893 7.17893 4 9.25 4V5.5ZM12.25 14.5H6.25V13H12.25V14.5ZM6.25 19H12.25V20.5H6.25V19ZM12.25 19C13.4926 19 14.5 17.9926 14.5 16.75H16C16 18.8211 14.3211 20.5 12.25 20.5V19ZM4 16.75C4 17.9926 5.00736 19 6.25 19V20.5C4.17893 20.5 2.5 18.8211 2.5 16.75H4ZM6.25 14.5C5.00736 14.5 4 15.5074 4 16.75H2.5C2.5 14.6789 4.17893 13 6.25 13V14.5ZM12.25 13C14.3211 13 16 14.6789 16 16.75H14.5C14.5 15.5074 13.4926 14.5 12.25 14.5V13Z" fill="#FAFAFA"/>
              <path d="M13.4979 10.3887C13.6556 10.1353 13.9515 10 14.25 10C15.4926 10 16.5 8.99264 16.5 7.75C16.5 6.50736 15.4926 5.5 14.25 5.5C13.9515 5.5 13.6556 5.36473 13.4979 5.11135C13.4909 5.10014 13.4839 5.08896 13.4768 5.07782C13.2142 4.66331 13.3473 4.0764 13.835 4.0227C13.9713 4.0077 14.1097 4 14.25 4C16.3211 4 18 5.67893 18 7.75C18 9.82107 16.3211 11.5 14.25 11.5C14.1097 11.5 13.9713 11.4923 13.835 11.4773C13.3473 11.4236 13.2142 10.8367 13.4768 10.4222C13.4839 10.411 13.4909 10.3999 13.4979 10.3887Z" fill="#FAFAFA"/>
              <path d="M16.5417 18.3169C16.6552 18.1275 16.8556 18 17.0764 18H17.25C18.4926 18 19.5 16.9926 19.5 15.75C19.5 14.5074 18.4926 13.5 17.25 13.5H17.0764C16.8556 13.5 16.6552 13.3725 16.5417 13.1831C16.2646 12.7208 16.5653 12 17.1043 12H17.25C19.3211 12 21 13.6789 21 15.75C21 17.8211 19.3211 19.5 17.25 19.5H17.1043C16.5653 19.5 16.2646 18.7792 16.5417 18.3169Z" fill="#FAFAFA"/>
            </svg>
          p 120+
  section.about-team 
    h2.section-title Наша команда
    .swiper-team
      .swiper-wrapper 
        .swiper-slide 
          img(src="./assets/images/about/card.jpg" alt="team member")
          .card-info
            h3 Сергій Крикун
            p СЕО & Creator
        .swiper-slide 
          img(src="./assets/images/about/card.jpg" alt="team member")
          .card-info
            h3 Сергій Крикун
            p СЕО & Creator
        .swiper-slide 
          img(src="./assets/images/about/card.jpg" alt="team member")
          .card-info
            h3 Сергій Крикун
            p СЕО & Creator



block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
