
extends ../layout/main
block variable
  -
    var title_page = 'house-types'
    var id_page = 'id-page-house-types'
    var class_page = 'class-page-house-types'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/houseTypes.bundle.js')
block content
  section.projects.container.house-types
    .left-block
      a(href="/single-house").project-card 
        img(src="./assets/images/Projects/project_1.jpg" alt="project_1")
        .project-card__mask 
        .project-card__text 

          h2 Таунхаус
            br
            | №45.3. 0.100
      a(href="/single-house").project-card 
        img(src="./assets/images/Projects/project_2.jpg" alt="project_2")
        .project-card__mask 
        .project-card__text 

          h2 Таунхаус
            br
            | №50.3. 0.100
      a(href="/single-house").project-card 
        img(src="./assets/images/Projects/project_3.jpg" alt="project_3")
        .project-card__mask 
        .project-card__text 

          h2 Таунхаус 
            br
            | №34.1. 0.100

    .right-block
      a(href="/single-house").project-card 
        img(src="./assets/images/Projects/project_4.jpg" alt="project_4")
        .project-card__mask 
        .project-card__text 

          h2 Таунхаус 
            br
            | №36.2. 0.100
      a(href="/single-house").project-card 
        img(src="./assets/images/Projects/project_5.jpg" alt="project_5")
        .project-card__mask 
        .project-card__text 

          h2 Таунхаус
            br
            | №24.8. 0.100
      a(href="/single-house").project-card 
        img(src="./assets/images/Projects/project_6.jpg" alt="project_6")
        .project-card__mask 
        .project-card__text 

          h2 Таунхаус
            br
            | №21.2. 0.100
      a(href="/single-house").project-card 
        img(src="./assets/images/Projects/project_7.jpg" alt="project_7")
        .project-card__mask 
        .project-card__text 

          h2 Таунхаус
            br
            | №47.5. 0.100

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
