
extends ../layout/main
block variable
  -
    var title_page = 'single-house'
    var id_page = 'id-page-single-house'
    var class_page = 'class-page-single-house'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/singleHouse.bundle.js')
block content
  section.sp-gallery.sh-hero
    .swiper-gallery
      a.page-nav-btn(href="/")
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5303 19.5303C10.2374 19.8232 9.76256 19.8232 9.46967 19.5303L0.469671 10.5303C0.176778 10.2374 0.176778 9.76256 0.469671 9.46967L9.46967 0.469669C9.76256 0.176777 10.2374 0.176777 10.5303 0.469669C10.8232 0.762564 10.8232 1.23744 10.5303 1.53033L2.06066 10L10.5303 18.4697C10.8232 18.7626 10.8232 19.2374 10.5303 19.5303Z" fill="white"/>
        </svg>
      .swiper-pagination 
      .swiper-wrapper 
        .swiper-slide 
          .mask
          img(src="./assets/images/single-project/description.jpg" alt="")
        .swiper-slide 
          .mask
          img(src="./assets/images/single-project/description.jpg" alt="")
    .sh-hero__title-block 
      h1 Таунхаус №36.2.
      p Будинок, що поєднує в собі багато вільного простору для великої сім'ї, безліч сонячного світла та велике подвір'я для відпочинку. А головне, площа якого може збільшуватись із складом вашої сім'ї.
    .swiper-achievements
      .swiper-wrapper 
        .swiper-slide
          .title-wrap
            h3 Вартість будинку
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8872 2.3209C10.8403 1.57814 11.7737 1.06506 12.3535 1.68434C13.6373 3.05531 14.4738 4.4906 14.8033 6.36479C15.0658 7.85732 14.9996 9.58931 14.6378 11.735C14.8957 11.4697 15.1375 11.1604 15.3542 10.8179C15.8806 9.98542 16.2064 9.03689 16.26 8.2304C16.285 7.85412 16.5417 7.5745 16.846 7.47488C17.161 7.37173 17.5634 7.45437 17.8006 7.79339C18.3845 8.6278 18.9175 9.91285 19.2755 11.261C19.6346 12.6132 19.8417 14.1191 19.7101 15.4093C19.3412 19.0263 16.6357 22.7499 11.8282 22.7499C7.83811 22.7499 5.31726 20.5602 4.52079 17.7267C3.73838 14.9433 4.65172 11.645 7.23788 9.43023C9.18556 7.76216 10.0888 6.94164 10.5398 6.07962C10.9636 5.26971 11.016 4.35715 10.8872 2.3209ZM12.4456 4.24826C12.4182 5.21855 12.267 6.01426 11.8689 6.77507C11.2531 7.95192 10.0736 8.97652 8.21359 10.5695L8.21358 10.5695C6.05467 12.4184 5.34624 15.1202 5.96482 17.3208C6.56934 19.4714 8.47224 21.2499 11.8282 21.2499C15.6821 21.2499 17.9068 18.3068 18.2178 15.2571C18.3247 14.2095 18.1577 12.8963 17.8257 11.646C17.6857 11.1186 17.5205 10.6183 17.343 10.1682C17.1546 10.672 16.91 11.1641 16.6219 11.6196C15.9877 12.6225 15.0915 13.5282 14.0118 13.9662C13.3162 14.2483 12.7421 13.595 12.8679 13.0021C13.4687 10.1709 13.6006 8.18592 13.326 6.62457C13.1704 5.73969 12.8808 4.97184 12.4456 4.24826Z" fill="white"/>
            </svg>
          p від 95000 у.о.

        .swiper-slide
          .title-wrap
            h3 Плоша будинку
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8872 2.3209C10.8403 1.57814 11.7737 1.06506 12.3535 1.68434C13.6373 3.05531 14.4738 4.4906 14.8033 6.36479C15.0658 7.85732 14.9996 9.58931 14.6378 11.735C14.8957 11.4697 15.1375 11.1604 15.3542 10.8179C15.8806 9.98542 16.2064 9.03689 16.26 8.2304C16.285 7.85412 16.5417 7.5745 16.846 7.47488C17.161 7.37173 17.5634 7.45437 17.8006 7.79339C18.3845 8.6278 18.9175 9.91285 19.2755 11.261C19.6346 12.6132 19.8417 14.1191 19.7101 15.4093C19.3412 19.0263 16.6357 22.7499 11.8282 22.7499C7.83811 22.7499 5.31726 20.5602 4.52079 17.7267C3.73838 14.9433 4.65172 11.645 7.23788 9.43023C9.18556 7.76216 10.0888 6.94164 10.5398 6.07962C10.9636 5.26971 11.016 4.35715 10.8872 2.3209ZM12.4456 4.24826C12.4182 5.21855 12.267 6.01426 11.8689 6.77507C11.2531 7.95192 10.0736 8.97652 8.21359 10.5695L8.21358 10.5695C6.05467 12.4184 5.34624 15.1202 5.96482 17.3208C6.56934 19.4714 8.47224 21.2499 11.8282 21.2499C15.6821 21.2499 17.9068 18.3068 18.2178 15.2571C18.3247 14.2095 18.1577 12.8963 17.8257 11.646C17.6857 11.1186 17.5205 10.6183 17.343 10.1682C17.1546 10.672 16.91 11.1641 16.6219 11.6196C15.9877 12.6225 15.0915 13.5282 14.0118 13.9662C13.3162 14.2483 12.7421 13.595 12.8679 13.0021C13.4687 10.1709 13.6006 8.18592 13.326 6.62457C13.1704 5.73969 12.8808 4.97184 12.4456 4.24826Z" fill="white"/>
            </svg>
          p 130 м2

        .swiper-slide
          .title-wrap
            h3 Площа ділянки
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8872 2.3209C10.8403 1.57814 11.7737 1.06506 12.3535 1.68434C13.6373 3.05531 14.4738 4.4906 14.8033 6.36479C15.0658 7.85732 14.9996 9.58931 14.6378 11.735C14.8957 11.4697 15.1375 11.1604 15.3542 10.8179C15.8806 9.98542 16.2064 9.03689 16.26 8.2304C16.285 7.85412 16.5417 7.5745 16.846 7.47488C17.161 7.37173 17.5634 7.45437 17.8006 7.79339C18.3845 8.6278 18.9175 9.91285 19.2755 11.261C19.6346 12.6132 19.8417 14.1191 19.7101 15.4093C19.3412 19.0263 16.6357 22.7499 11.8282 22.7499C7.83811 22.7499 5.31726 20.5602 4.52079 17.7267C3.73838 14.9433 4.65172 11.645 7.23788 9.43023C9.18556 7.76216 10.0888 6.94164 10.5398 6.07962C10.9636 5.26971 11.016 4.35715 10.8872 2.3209ZM12.4456 4.24826C12.4182 5.21855 12.267 6.01426 11.8689 6.77507C11.2531 7.95192 10.0736 8.97652 8.21359 10.5695L8.21358 10.5695C6.05467 12.4184 5.34624 15.1202 5.96482 17.3208C6.56934 19.4714 8.47224 21.2499 11.8282 21.2499C15.6821 21.2499 17.9068 18.3068 18.2178 15.2571C18.3247 14.2095 18.1577 12.8963 17.8257 11.646C17.6857 11.1186 17.5205 10.6183 17.343 10.1682C17.1546 10.672 16.91 11.1641 16.6219 11.6196C15.9877 12.6225 15.0915 13.5282 14.0118 13.9662C13.3162 14.2483 12.7421 13.595 12.8679 13.0021C13.4687 10.1709 13.6006 8.18592 13.326 6.62457C13.1704 5.73969 12.8808 4.97184 12.4456 4.24826Z" fill="white"/>
            </svg>
          p до 3 соток
  section.sh-plannings 
    .sh-plannings__container
      h2 Планування
      p Від ретельного планування простору до бездоганного втілення – ваш ідеальний дім починається тут.
      .swiper-materials-btns
        .swiper-wrapper(id="room-selector") 
          //- .swiper-slide.active 
          //-   span Тераса
          //-   p 17.71  м2
          //- .swiper-slide
          //-   span Вітальня
          //-   p 33.91 м2
          //- .swiper-slide
          //-   span Санвузол
          //-   p 6.31  м2
          //- .swiper-slide
          //-   span Кухня
          //-   p 6.31  м2
          //- .swiper-slide
          //-   span Коридор
          //-   p 6.31  м2
      .sh-plannings-content 
        .sh-plannings__img-wrap
          img(id="room-image" src="./assets/images/single-project/materials.jpg" alt="infrastructure")
        .sh-plannings__floors(id="floor-selector")
          //- button.sh-plannings__floors-btn.active
          //-   <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
          //-     <path d="M12.263 1.5468L3.31169 6.99544C2.71341 7.35961 2.71341 8.22811 3.31169 8.59228L12.263 14.0409C12.5615 14.2226 12.9365 14.2226 13.235 14.0409L22.1864 8.59228C22.7846 8.22811 22.7846 7.35961 22.1864 6.99544L13.235 1.5468C12.9365 1.36509 12.5615 1.36509 12.263 1.5468Z" stroke="white" stroke-width="1.25"/>
          //-     <path d="M18.1235 19.4778L22.1864 17.0047C22.7846 16.6406 22.7846 15.7721 22.1864 15.4079L20.544 14.4082M14.6685 21.5808L13.235 22.4534C12.9365 22.6351 12.5615 22.6351 12.263 22.4534L3.31169 17.0047C2.71341 16.6406 2.71341 15.7721 3.31169 15.4079L5.07115 14.3369" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
          //-     <path d="M5.83894 10.1306L3.31169 11.6689C2.71341 12.0331 2.71341 12.9016 3.31169 13.2658L12.263 18.7144C12.5615 18.8961 12.9365 18.8961 13.235 18.7144L22.1864 13.2658C22.7846 12.9016 22.7846 12.0331 22.1864 11.6689L19.6591 10.1306" stroke="white" stroke-width="1.25"/>
          //-   </svg>
          //-   span 1 поверх
          //- button.sh-plannings__floors-btn 
          //-   <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
          //-     <path d="M12.263 1.5468L3.31169 6.99544C2.71341 7.35961 2.71341 8.22811 3.31169 8.59228L12.263 14.0409C12.5615 14.2226 12.9365 14.2226 13.235 14.0409L22.1864 8.59228C22.7846 8.22811 22.7846 7.35961 22.1864 6.99544L13.235 1.5468C12.9365 1.36509 12.5615 1.36509 12.263 1.5468Z" stroke="white" stroke-width="1.25"/>
          //-     <path d="M18.1235 19.4778L22.1864 17.0047C22.7846 16.6406 22.7846 15.7721 22.1864 15.4079L20.544 14.4082M14.6685 21.5808L13.235 22.4534C12.9365 22.6351 12.5615 22.6351 12.263 22.4534L3.31169 17.0047C2.71341 16.6406 2.71341 15.7721 3.31169 15.4079L5.07115 14.3369" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
          //-     <path d="M5.83894 10.1306L3.31169 11.6689C2.71341 12.0331 2.71341 12.9016 3.31169 13.2658L12.263 18.7144C12.5615 18.8961 12.9365 18.8961 13.235 18.7144L22.1864 13.2658C22.7846 12.9016 22.7846 12.0331 22.1864 11.6689L19.6591 10.1306" stroke="white" stroke-width="1.25"/>
          //-   </svg>
          //-   span 2 поверх
  section.terms-faq 
    ul.terms-faq__list
      li.terms-faq__item
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9998 9L11.9998 17L3.99976 9L5.99976 7L11.9998 13L17.9998 7L19.9998 9Z" fill="#494A52"/>
        </svg> 
        h3 Чи залежить ціна будинку від суми першого внеску?
        p На другому поверсі висота стелі сягає до 6 метрів. Що з легкістю дозволить Вам облаштувати лофтову антресоль або друге світло з повітряною люстрою над Вашою спальнею. Придумати творчу майстерню або додатковий ігровий поверх для дітей.
      li.terms-faq__item
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9998 9L11.9998 17L3.99976 9L5.99976 7L11.9998 13L17.9998 7L19.9998 9Z" fill="#494A52"/>
        </svg> 
        h3 Адаптивність планування
        p На другому поверсі висота стелі сягає до 6 метрів. Що з легкістю дозволить Вам облаштувати лофтову антресоль або друге світло з повітряною люстрою над Вашою спальнею. Придумати творчу майстерню або додатковий ігровий поверх для дітей.
      li.terms-faq__item 
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9998 9L11.9998 17L3.99976 9L5.99976 7L11.9998 13L17.9998 7L19.9998 9Z" fill="#494A52"/>
        </svg>
        h3 Тераса
        p На другому поверсі висота стелі сягає до 6 метрів. Що з легкістю дозволить Вам облаштувати лофтову антресоль або друге світло з повітряною люстрою над Вашою спальнею. Придумати творчу майстерню або додатковий ігровий поверх для дітей.
  section.sp-other-section
    .sp-other
      h2 Інші містечка
      .swiper-other
        .swiper-wrapper 
          .swiper-slide 
            img(src="./assets/images/single-project/description.jpg" alt="project type")
            .type-info-wrap 
              .type-info-title-wrap 
                h3 Котеджі
                div(data-price)
                  span Від:
                  p $ 85000
              a.accent-btn(href="/")
                span Детальніше
          .swiper-slide 
            img(src="./assets/images/single-project/description.jpg" alt="project type")
            .type-info-wrap 
              .type-info-title-wrap 
                h3 Котеджі
                div(data-price)
                  span Від:
                  p $ 85000
              a.accent-btn(href="/")
                span Детальніше
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
