
extends ../layout/main
block variable
  -
    var title_page = 'single-house'
    var id_page = 'id-page-single-house'
    var class_page = 'class-page-single-house'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/singleHouse.bundle.js')
block content
  section.sp-gallery.sh-hero
    .swiper-gallery
      a.page-nav-btn(href="/")
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5303 19.5303C10.2374 19.8232 9.76256 19.8232 9.46967 19.5303L0.469671 10.5303C0.176778 10.2374 0.176778 9.76256 0.469671 9.46967L9.46967 0.469669C9.76256 0.176777 10.2374 0.176777 10.5303 0.469669C10.8232 0.762564 10.8232 1.23744 10.5303 1.53033L2.06066 10L10.5303 18.4697C10.8232 18.7626 10.8232 19.2374 10.5303 19.5303Z" fill="white"/>
        </svg>
      .swiper-pagination 
      .sp-hero__info-wrap
        .sp-parameters__gen-block
          .gen-block__title-wrap 
            h3 Вартість будинку
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M14.6667 19.3346C14.6667 21.1746 17.652 22.668 21.3333 22.668C25.0147 22.668 28 21.1746 28 19.3346M4 12.668C4 14.508 6.98533 16.0013 10.6667 16.0013C12.168 16.0013 13.5533 15.7533 14.6667 15.3346M4 17.3346C4 19.1746 6.98533 20.668 10.6667 20.668C12.168 20.668 13.552 20.42 14.6667 20.0013M21.3333 17.3346C17.652 17.3346 14.6667 15.8413 14.6667 14.0013C14.6667 12.1613 17.652 10.668 21.3333 10.668C25.0147 10.668 28 12.1613 28 14.0013C28 15.8413 25.0147 17.3346 21.3333 17.3346Z" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4 7.33203V21.9987C4 23.8387 6.98533 25.332 10.6667 25.332C12.168 25.332 13.552 25.084 14.6667 24.6654M14.6667 24.6654V13.9987M14.6667 24.6654C14.6667 26.5054 17.652 27.9987 21.3333 27.9987C25.0147 27.9987 28 26.5054 28 24.6654V13.9987M17.3333 11.332V7.33203" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.6667 10.6667C6.98533 10.6667 4 9.17333 4 7.33333C4 5.49333 6.98533 4 10.6667 4C14.348 4 17.3333 5.49333 17.3333 7.33333C17.3333 9.17333 14.348 10.6667 10.6667 10.6667Z" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          p.gen-block__info від 95000 у.о.
        .sp-parameters__gen-block 
          .gen-block__title-wrap 
            h3 Плоша будинку
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
              <path d="M24.3337 28.8233H26.2573C27.6738 28.8233 28.8221 27.675 28.8221 26.2585V5.74053C28.8221 4.32406 27.6738 3.17578 26.2573 3.17578H5.73931C4.32284 3.17578 3.17456 4.32406 3.17456 5.74053V26.2585C3.17456 27.675 4.32284 28.8233 5.73931 28.8233H17.9219" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10.8734 3.17578V13.4348M17.9264 20.4878H3.82031M17.9264 12.7936H28.8266" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          p.gen-block__info 130 м2
        .sp-parameters__gen-block
          .gen-block__title-wrap 
            h3 Площа ділянки
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
              <g clip-path="url(#clip0_1017_9829)">
                <path d="M19.4285 1.53326C17.1721 1.01495 14.8276 1.01495 12.5713 1.53326M8.20559 3.36183C7.22492 3.97023 6.31294 4.68295 5.48559 5.48755C4.681 6.3149 3.96828 7.22687 3.35988 8.20755M1.53131 12.5733C1.013 14.8296 1.013 17.1741 1.53131 19.4304M3.35988 23.7961C3.96828 24.7768 4.681 25.6888 5.48559 26.5161C6.31455 27.3237 7.22121 28.0323 8.20559 28.6418M12.5713 30.4704C14.8276 30.9887 17.1721 30.9887 19.4285 30.4704M23.7942 28.6418C24.7785 28.0323 25.6852 27.3237 26.5142 26.5161C27.3218 25.6856 28.0304 24.779 28.6399 23.7961M30.4685 19.4304C30.9868 17.1741 30.9868 14.8296 30.4685 12.5733M28.6399 8.20755C28.0315 7.22687 27.3188 6.3149 26.5142 5.48755C25.6868 4.68295 24.7748 3.97023 23.7942 3.36183" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1017_9829">
                  <rect width="32" height="32" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          p.gen-block__info до 3 соток
      .swiper-wrapper 
        .swiper-slide 
          .mask
          img(src="./assets/images/single-project/description.jpg" alt="")
        .swiper-slide 
          .mask
          img(src="./assets/images/single-project/description.jpg" alt="")
    .sh-hero__title-block 
      h1 Таунхаус №36.2.
      p Будинок, що поєднує в собі багато вільного простору для великої сім'ї, безліч сонячного світла та велике подвір'я для відпочинку. А головне, площа якого може збільшуватись із складом вашої сім'ї.
    .swiper-achievements
      .swiper-wrapper 
        .swiper-slide
          .title-wrap
            h3 Вартість будинку
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M14.6667 19.3346C14.6667 21.1746 17.652 22.668 21.3333 22.668C25.0147 22.668 28 21.1746 28 19.3346M4 12.668C4 14.508 6.98533 16.0013 10.6667 16.0013C12.168 16.0013 13.5533 15.7533 14.6667 15.3346M4 17.3346C4 19.1746 6.98533 20.668 10.6667 20.668C12.168 20.668 13.552 20.42 14.6667 20.0013M21.3333 17.3346C17.652 17.3346 14.6667 15.8413 14.6667 14.0013C14.6667 12.1613 17.652 10.668 21.3333 10.668C25.0147 10.668 28 12.1613 28 14.0013C28 15.8413 25.0147 17.3346 21.3333 17.3346Z" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4 7.33203V21.9987C4 23.8387 6.98533 25.332 10.6667 25.332C12.168 25.332 13.552 25.084 14.6667 24.6654M14.6667 24.6654V13.9987M14.6667 24.6654C14.6667 26.5054 17.652 27.9987 21.3333 27.9987C25.0147 27.9987 28 26.5054 28 24.6654V13.9987M17.3333 11.332V7.33203" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.6667 10.6667C6.98533 10.6667 4 9.17333 4 7.33333C4 5.49333 6.98533 4 10.6667 4C14.348 4 17.3333 5.49333 17.3333 7.33333C17.3333 9.17333 14.348 10.6667 10.6667 10.6667Z" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          p від 95000 у.о.

        .swiper-slide
          .title-wrap
            h3 Плоша будинку
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
              <path d="M24.3337 28.8233H26.2573C27.6738 28.8233 28.8221 27.675 28.8221 26.2585V5.74053C28.8221 4.32406 27.6738 3.17578 26.2573 3.17578H5.73931C4.32284 3.17578 3.17456 4.32406 3.17456 5.74053V26.2585C3.17456 27.675 4.32284 28.8233 5.73931 28.8233H17.9219" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10.8734 3.17578V13.4348M17.9264 20.4878H3.82031M17.9264 12.7936H28.8266" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          p 130 м2

        .swiper-slide
          .title-wrap
            h3 Площа ділянки
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
              <g clip-path="url(#clip0_1017_9829)">
                <path d="M19.4285 1.53326C17.1721 1.01495 14.8276 1.01495 12.5713 1.53326M8.20559 3.36183C7.22492 3.97023 6.31294 4.68295 5.48559 5.48755C4.681 6.3149 3.96828 7.22687 3.35988 8.20755M1.53131 12.5733C1.013 14.8296 1.013 17.1741 1.53131 19.4304M3.35988 23.7961C3.96828 24.7768 4.681 25.6888 5.48559 26.5161C6.31455 27.3237 7.22121 28.0323 8.20559 28.6418M12.5713 30.4704C14.8276 30.9887 17.1721 30.9887 19.4285 30.4704M23.7942 28.6418C24.7785 28.0323 25.6852 27.3237 26.5142 26.5161C27.3218 25.6856 28.0304 24.779 28.6399 23.7961M30.4685 19.4304C30.9868 17.1741 30.9868 14.8296 30.4685 12.5733M28.6399 8.20755C28.0315 7.22687 27.3188 6.3149 26.5142 5.48755C25.6868 4.68295 24.7748 3.97023 23.7942 3.36183" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1017_9829">
                  <rect width="32" height="32" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          p до 3 соток

  section.sh-plannings 
    .sh-plannings__container
      h2 Планування
      p Від ретельного планування простору до бездоганного втілення – ваш ідеальний дім починається тут.
      .swiper-materials-btns
        .swiper-wrapper(id="room-selector") 
          //- .swiper-slide.active 
          //-   span Тераса
          //-   p 17.71  м2
          //- .swiper-slide
          //-   span Вітальня
          //-   p 33.91 м2
          //- .swiper-slide
          //-   span Санвузол
          //-   p 6.31  м2
          //- .swiper-slide
          //-   span Кухня
          //-   p 6.31  м2
          //- .swiper-slide
          //-   span Коридор
          //-   p 6.31  м2
      .sh-plannings-content 
        .sh-plannings__img-wrap
          img(id="room-image" src="./assets/images/single-project/materials.jpg" alt="infrastructure")
        .sh-plannings__floors(id="floor-selector")
          //- button.sh-plannings__floors-btn.active
          //-   <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
          //-     <path d="M12.263 1.5468L3.31169 6.99544C2.71341 7.35961 2.71341 8.22811 3.31169 8.59228L12.263 14.0409C12.5615 14.2226 12.9365 14.2226 13.235 14.0409L22.1864 8.59228C22.7846 8.22811 22.7846 7.35961 22.1864 6.99544L13.235 1.5468C12.9365 1.36509 12.5615 1.36509 12.263 1.5468Z" stroke="white" stroke-width="1.25"/>
          //-     <path d="M18.1235 19.4778L22.1864 17.0047C22.7846 16.6406 22.7846 15.7721 22.1864 15.4079L20.544 14.4082M14.6685 21.5808L13.235 22.4534C12.9365 22.6351 12.5615 22.6351 12.263 22.4534L3.31169 17.0047C2.71341 16.6406 2.71341 15.7721 3.31169 15.4079L5.07115 14.3369" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
          //-     <path d="M5.83894 10.1306L3.31169 11.6689C2.71341 12.0331 2.71341 12.9016 3.31169 13.2658L12.263 18.7144C12.5615 18.8961 12.9365 18.8961 13.235 18.7144L22.1864 13.2658C22.7846 12.9016 22.7846 12.0331 22.1864 11.6689L19.6591 10.1306" stroke="white" stroke-width="1.25"/>
          //-   </svg>
          //-   span 1 поверх
          //- button.sh-plannings__floors-btn 
          //-   <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
          //-     <path d="M12.263 1.5468L3.31169 6.99544C2.71341 7.35961 2.71341 8.22811 3.31169 8.59228L12.263 14.0409C12.5615 14.2226 12.9365 14.2226 13.235 14.0409L22.1864 8.59228C22.7846 8.22811 22.7846 7.35961 22.1864 6.99544L13.235 1.5468C12.9365 1.36509 12.5615 1.36509 12.263 1.5468Z" stroke="white" stroke-width="1.25"/>
          //-     <path d="M18.1235 19.4778L22.1864 17.0047C22.7846 16.6406 22.7846 15.7721 22.1864 15.4079L20.544 14.4082M14.6685 21.5808L13.235 22.4534C12.9365 22.6351 12.5615 22.6351 12.263 22.4534L3.31169 17.0047C2.71341 16.6406 2.71341 15.7721 3.31169 15.4079L5.07115 14.3369" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
          //-     <path d="M5.83894 10.1306L3.31169 11.6689C2.71341 12.0331 2.71341 12.9016 3.31169 13.2658L12.263 18.7144C12.5615 18.8961 12.9365 18.8961 13.235 18.7144L22.1864 13.2658C22.7846 12.9016 22.7846 12.0331 22.1864 11.6689L19.6591 10.1306" stroke="white" stroke-width="1.25"/>
          //-   </svg>
          //-   span 2 поверх
  section.terms-faq 
    img(src="./assets/images/single-project/faq.jpg" alt="filler").terms-faq__img-pc
    .terms-wrapper
      h2 Переваги будинку
      ul.terms-faq__list(data-lenis-prevent)

        li.terms-faq__item
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9998 9L11.9998 17L3.99976 9L5.99976 7L11.9998 13L17.9998 7L19.9998 9Z" fill="#494A52"/>
          </svg> 
          h3 Чи залежить ціна будинку від суми першого внеску?
          p.terms-faq__text На другому поверсі висота стелі сягає до 6 метрів. Що з легкістю дозволить Вам облаштувати лофтову антресоль або друге світло з повітряною люстрою над Вашою спальнею. Придумати творчу майстерню або додатковий ігровий поверх для дітей.
        li.terms-faq__item
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9998 9L11.9998 17L3.99976 9L5.99976 7L11.9998 13L17.9998 7L19.9998 9Z" fill="#494A52"/>
          </svg> 
          h3 Адаптивність планування
          p.terms-faq__text На другому поверсі висота стелі сягає до 6 метрів. Що з легкістю дозволить Вам облаштувати лофтову антресоль або друге світло з повітряною люстрою над Вашою спальнею. Придумати творчу майстерню або додатковий ігровий поверх для дітей.
        li.terms-faq__item 
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9998 9L11.9998 17L3.99976 9L5.99976 7L11.9998 13L17.9998 7L19.9998 9Z" fill="#494A52"/>
          </svg>
          h3 Тераса
          p.terms-faq__text На другому поверсі висота стелі сягає до 6 метрів. Що з легкістю дозволить Вам облаштувати лофтову антресоль або друге світло з повітряною люстрою над Вашою спальнею. Придумати творчу майстерню або додатковий ігровий поверх для дітей. На другому поверсі висота стелі сягає до 6 метрів. Що з легкістю дозволить Вам облаштувати лофтову антресоль або друге світло з повітряною люстрою над Вашою спальнею. Придумати творчу майстерню або додатковий ігровий поверх для дітей.
        li.terms-faq__item 
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9998 9L11.9998 17L3.99976 9L5.99976 7L11.9998 13L17.9998 7L19.9998 9Z" fill="#494A52"/>
          </svg>
          h3 Зміни фасаду
          p.terms-faq__text На другому поверсі висота стелі сягає до 6 метрів. Що з легкістю дозволить Вам облаштувати лофтову антресоль або друге світло з повітряною люстрою над Вашою спальнею. Придумати творчу майстерню або додатковий ігровий поверх для дітей. На другому поверсі висота стелі сягає до 6 метрів. Що з легкістю дозволить Вам облаштувати лофтову антресоль або друге світло з повітряною люстрою над Вашою спальнею. Придумати творчу майстерню або додатковий ігровий поверх для дітей.
  section.sp-gallery.sh-gallery-pc 
    .swiper-gallery-pc
      .swiper-pagination 
      .swiper-wrapper 

        .swiper-slide 
          .mask
          img(src="./assets/images/single-project/description.jpg" alt="")
        .swiper-slide 
          .mask
          img(src="./assets/images/single-project/infra.jpg" alt="")
  section.sp-other-section
    .sp-other
      h2 Інші містечка
      .swiper-other
        .swiper-wrapper 
          .swiper-slide 
            a.slide-wrapper(href="/single-project")
              img(src="./assets/images/single-project/description.jpg" alt="project type")
              .type-info-wrap 
                .type-info-title-wrap 
                  h3 City House
                  div(data-price)
                    span Від:
                    p $ 129000
                .accent-btn
                  span Детальніше
          .swiper-slide 
            a.slide-wrapper(href="/single-project")
              img(src="./assets/images/single-project/description.jpg" alt="project type")
              .type-info-wrap 
                .type-info-title-wrap 
                  h3 Wooden House
                  div(data-price)
                    span Від:
                    p $ 399000
                .accent-btn
                  span Детальніше
          .swiper-slide 
            a.slide-wrapper(href="/single-project")
              img(src="./assets/images/single-project/description.jpg" alt="project type")
              .type-info-wrap 
                .type-info-title-wrap 
                  h3 City House
                  div(data-price)
                    span Від:
                    p $ 399000
                .accent-btn
                  span Детальніше
          .swiper-slide 
            a.slide-wrapper(href="/single-project")
              img(src="./assets/images/single-project/description.jpg" alt="project type")
              .type-info-wrap 
                .type-info-title-wrap 
                  h3 Wooden House
                  div(data-price)
                    span Від:
                    p $ 399000
                .accent-btn
                  span Детальніше
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
