$default-font: 'Montserrat', sans-serif;
$default-font2: 'SFProDisplay', sans-serif;

$mc2: #ff554c;
$mc3: #e5df06;
$mc4: #4f90b6;
$gray: #878797;
$text: #22223e;
$wc: rgb(255, 255, 255);
$bc: #000;
$bc2: #000;

$text-color: #808086;
$bg-color: #f5f5f5;
$bg-color-mob: #E6E6E6;
$secondory-bg-color: rgba(255, 255, 255, 1);
$light-gray-color: #A4A4A8;
$middle-gray-color: #f1f1f3;
$dark-color: rgba(29, 29, 31, 1);
$second-accent-color: #F58614;
$accent-color: #494a52;
$header-h: 96px;
$offset: 8px;
$soft-accent: #FFF8F0;
$border-radius-btn: 6px;
$border-radius-md: 8px;
$border-radius-block: 12px;
$btn-size: 56px;



@mixin title-text () {

	font-family: $default-font2;
	font-size: 64px;
	font-style: normal;
	font-weight: 500;
	line-height: 90%;
	color: $secondory-bg-color;

	@include tablet {
		font-size: 48px;
	}

	@include laptop {
		font-size: 72px;
	}

	@include desktop {
		font-size: 96px;
	}
}

@mixin block-info-text () {

	font-family: $default-font2;
	font-size: 44px;
	font-style: normal;
	font-weight: 500;
	line-height: 90%;
	color: $accent-color;

	@include tablet {
		font-size: 30px;
	}

	@include laptop {
		font-size: 45px;
	}

	@include desktop {
		font-size: 60px;
	}
}

@mixin subtitle-text () {

	font-family: $default-font2;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 90%;
	color: $secondory-bg-color;

	@include tablet {
		font-size: 30px;
	}

	@include laptop {
		font-size: 45px;
	}

	@include desktop {
		font-size: 60px;
	}
}




@mixin block-title() {

	font-family: $default-font2;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: $accent-color;


	@include desktop {
		font-size: 38px;
	}
}

@mixin menu-text() {

	font-family: $default-font2;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	color: $accent-color;

	@include desktop {
		font-size: 18px;
	}
}

@mixin subgeneral-text() {

	font-family: $default-font2;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	line-height: 120%;

	@include desktop {
		font-size: 20px;
	}
}

@mixin general-text() {

	font-family: $default-font2;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	line-height: 120%;

	@include desktop {
		font-size: 18px;
	}
}



@mixin tiny-text() {
	color: $secondory-bg-color;
	font-family: $default-font;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}