$default-font: 'Montserrat', sans-serif;
$default-font2: 'SFProDisplay', sans-serif;

:root {
	--offset: 8px; // Задаємо базове значення змінної
}

@media screen and (min-width: 1366px) {
	:root {
		--offset: 10px; // Перевизначаємо змінну для великих екранів
	}
}

$mc2: #ff554c;
$mc3: #e5df06;
$mc4: #4f90b6;
$gray: #878797;
$text: #22223e;
$wc: rgb(255, 255, 255);
$bc: #000;
$bc2: #000;

$text-color: #808086;
$bg-color: #f5f5f5;
$bg-color-mob: #E6E6E6;
$secondory-bg-color: rgba(255, 255, 255, 1);
$light-gray-color: #A4A4A8;
$middle-gray-color: #f1f1f3;
$dark-color: rgba(29, 29, 31, 1);
$second-accent-color: #F58614;
$accent-color: #494a52;
$accent-color-hover: #5A5B66;
$btn-hover: #E57300;
$btn-active: #D46300;
$header-h: 96px;

$soft-accent: #FFF8F0;
$soft-accent-hover: #FFF1E0;
$border-radius-btn: 6px;
$border-radius-md: 8px;
$border-radius-block: 12px;
$btn-size: 56px;




@mixin title-text () {

	font-family: $default-font2;
	font-size: 64px;
	font-style: normal;
	font-weight: 500;
	line-height: 90%;
	color: $secondory-bg-color;

	@include tablet {
		font-size: 100px;
	}

	@include laptop {
		font-size: 4.6vw;
	}

	// @include desktop {
	// 	font-size: 96px;
	// }
}

@mixin block-info-text () {

	font-family: $default-font2;
	font-size: 44px;
	font-style: normal;
	font-weight: 500;
	line-height: 90%;
	color: $accent-color;

	@include tablet {
		font-size: 54px;
	}

	@include laptop {
		font-size: 2.92vw;
	}


}

@mixin subtitle-text () {

	font-family: $default-font2;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 90%;
	color: $secondory-bg-color;

	@include tablet {
		font-size: 64px;
	}

	@include laptop {
		font-size: 4.6vw;
	}


}

@mixin menu-text() {

	font-family: $default-font2;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	color: $accent-color;

	@include tablet {
		font-size: 32px;
	}

	@include laptop {
		font-size: 1.875vw;
	}

}

@mixin subgeneral-text() {
	font-family: $default-font2;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	line-height: 120%;

	@include tablet {
		font-size: 20px;
	}

	@include laptop {
		font-size: 1.25vw;
	}
}

@mixin general-text() {

	font-family: $default-font2;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	line-height: 120%;

	@include tablet {
		font-size: 18px;
	}


}



@mixin tiny-text() {
	color: $secondory-bg-color;
	font-family: $default-font2;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	@include tablet {
		font-size: 14px;
	}

	@include tablet {
		font-size: 16px;
	}
}