.footer-bg {
  width: 100%;
  background-color: $secondory-bg-color;
  border-radius: 12px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;


}


.footer {
  padding: 8px 4px ($header-h + 8px);

  &-logo {
    padding: 24px 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;

    svg {
      width: 100%;
      height: auto;
    }
  }

  &-content {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-direction: column;

    a {
      @include general-text;
      color: $accent-color;

    }
  }

  .accent-btn {
    padding: 32px 24px;
    width: 100%;
  }

  &__last-block {
    width: 100%
  }

  &__subtitle {
    @include menu-text;
    width: 100%;
  }

  &__bottom-block {
    display: flex;
    justify-content: space-between;
    width: 100%;


    h4 {
      @include general-text;
      color: $text-color;
      max-width: 270px;

    }



    .dev-logo {
      width: 52px;
      height: 57px;
    }
  }
}