.header {

  position: fixed;
  bottom: 0;

  left: 0;
  width: 100%;
  z-index: 10000;
  padding-top: 4px;
  // padding-bottom: 10px;

  @include tablet {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $secondory-bg-color;
    transition: background-color 0.4s linear;

  }

  @include laptop {
    display: block;
    top: 0;
    bottom: auto;
  }

  .menu-is-open {
    background-color: transparent;
  }
}



.header-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 100%;
  padding: 10px 8px;
  background-color: $secondory-bg-color ;
  border-radius: 12px;

  @include tablet {
    padding: 10px 16px;
    background-color: $bg-color
  }

  @include desktop {
    padding: 10px 24px;

  }
}

.header-bg {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 80px;

  @include tablet {
    gap: 10px;
  }

  .header__logo-wrap {
    padding: 10px 8px;
    flex: 1;

    @include tablet {
      padding: 10px 16px;
    }

    @include laptop {
      padding: 10px 30px;
      flex: 0;
    }




    justify-content: flex-start;
  }

  .header__logo {
    justify-self: flex-start;

    svg {
      width: 146px;
      height: 63px;
    }
  }

  .header__nav {
    display: none;
    height: 100%;
    width: fit-content;
    flex: 1;

    @include laptop {
      display: flex;
    }
  }

  .nav__list {
    display: flex;
    height: 100%;
    gap: 40px;
    align-items: center;

  }

  .nav__link {
    @include general-text;
    color: $text-color;
    font-weight: 500;

    &.active {
      color: $accent-color;
    }
  }

  .contact-phone {
    display: flex;
    width: 80px;

    @include laptop {
      width: auto;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;


    }

    svg {
      width: 42px;
      height: 42px;

      @include laptop {
        display: none;
      }
    }

    // button {
    //   display: none;

    //   @media screen and (min-width: 1366px) and (max-width: 1919px) {
    //     display: block;

    //     svg {
    //       width: 42px;
    //       height: 42px;
    //     }
    //   }
    // }

    span {
      display: none;

      @include laptop {
        display: block;
        @include general-text;
        color: $text-color;
        font-weight: 500;
      }

    }
  }




}

.socials__list {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  &.desktop-mode {
    display: none;

    @include desktop {
      display: flex;
    }
  }

  .socials__link {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $text-color;

    svg path {
      fill: $text-color;
    }
  }
}

.call-back {
  &.tablet-mode {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  background-color: $accent-color;
  width: fit-content;
  color: $secondory-bg-color;

  span {
    @include general-text;
  }
}

.language__wrap {
  &.tablet-mode {
    display: none;

    @include tablet {
      display: block;
    }
  }

  padding: 0;
}

.language__list {
  .language__item {
    width: 100%;
    height: 100%;

    a {
      display: none;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    svg {
      width: 42px;
      height: 42px;
    }

    &.active {
      a {
        display: flex;
      }
    }
  }
}

.header__btn-menu-wrap {
  display: flex;
  gap: 5px;
  height: 100%;

  @media screen and (min-width: 768px) and (max-width: 1365px) {
    width: calc(50% - 4px);

    .call-back {
      flex: 1;
    }
  }

}

.menu-btn {
  background-color: $accent-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding-left: 18px;
  padding-right: 18px;

  &__text {
    @include general-text;
    color: $secondory-bg-color;
  }

  &__burger {
    display: flex;
    flex-direction: column;
    gap: 4px;

    span {
      display: block;
      width: 8px;
      height: 8px;
      position: relative;
      background-color: $secondory-bg-color;
      transition: background-color 400ms linear;

      &::before {
        content: "";
        background-color: $secondory-bg-color;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: calc(100% + 4px);
        transition: background-color 400ms linear;

      }

      &::after {
        background-color: $secondory-bg-color;
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: calc(100% + 4px);
        transition: background-color 400ms linear;
      }

    }
  }

  @include tablet {
    flex-direction: row-reverse;
    gap: 22px;
    padding-right: 28px;
  }

  @include laptop {
    display: none;
  }
}

.menu-is-open {
  .menu-btn__burger span {
    background-color: transparent;

    &.square-middle {
      background-color: $secondory-bg-color;

      &::before,
      &::after {
        background-color: transparent;
      }
    }
  }
}

.menu__container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  background-color: rgba(0, 0, 0, 0.50);
  transition: opacity 0.4s linear;

  @include tablet {
    padding: 100px 8px 20px 8px;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.menu__bg {
  background-color: $secondory-bg-color;
  width: 100%;
  height: calc(100% - $header-h - 8px);
  border-radius: 0 0 12px 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 8px;

  .menu-logo {
    padding: 24px 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;

    svg {
      width: 100%;
      height: auto;
    }
  }

  .accent-btn {
    width: 100%;
    padding: 32px 24px;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 36px;
}

.nav__item {
  @include menu-text;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    height: 2px;
    width: 40vw;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    background: linear-gradient(90deg, rgba(247, 243, 255, 0.00) 0%, #F58614 51%, rgba(247, 243, 255, 0.00) 100%);

  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  span {
    text-align: center;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.social-item {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  background-color: $soft-accent;
  border-radius: 50%;
}

.header-pc {
  display: none;

  @include laptop {
    display: block;
  }
}

.header-mob {
  background-color: $secondory-bg-color;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  padding: 24px 0;

  .mob-nav-btn {
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
    position: relative;

    &::after {
      content: "";
      border-radius: 2px 2px 0px 0px;

      width: 100%;
      height: 4px;

      position: absolute;
      bottom: -24px;
      left: 0;
      transition: opacity 0.3s ease-in-out;
      background-color: $second-accent-color;
      opacity: 0;
    }

    svg path {
      transition: fill 0.3s ease-in-out;
    }

    &.active {
      background-color: $second-accent-color;

      &::after {
        opacity: 1;
      }

      svg path {
        fill: $secondory-bg-color;
      }
    }
  }

  @include laptop {
    display: none;
  }
}

.accent-btn {
  @include general-text;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  background-color: $second-accent-color;
  color: $wc;
  font-weight: 500;
  border-radius: 8px;

  svg path {
    fill: $wc;
  }
}